.accordion {
  margin: 0 -3.90625vw;
  .card { 
    @include shadow_accodion;
    margin: $gutter_sm 0; 
    // border-bottom: 0.09766vw solid $border !important;
    &:first-child { margin: 0; }
    .card-header {
      @include shadow_accodion;
      background-color: #fff;
      padding: 0;
      border-top: 0.09766vw solid $border;
      border-bottom: 0.09766vw solid $border;
      .btn_collapse {
        @include flex; 
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        padding: 5.27344vw $gutter_md;
        border-bottom: 0.09766vw solid $border !important;
        .tit {
          font-size: 5.07813vw;
          font-family: $sub_font_family;
          font-weight: 400;
          small {
            display: inline-block;
            font-size: 3.12500vw;
            color: #555;
            font-weight: 300;
            strong { 
              color: #000; 
              font-weight: 400 !important;
            }
          }
        }
        .ic { width: 5.37109vw; height: 5.37109vw; }
        &.collapsed {
          .ic { background-position: -37.50000vw -24.02344vw; }
        } 
      } 
    }
  }
  .list_view {
    .topic_box { 
      margin: $gutter_xs $gutter_md;
      padding: 0 $gutter_md !important;
      border: 0.09766vw solid $border !important;
      .tit { font-size: 4.29688vw; }
    }
    .topic_btn_wrap {
      border: 0.09766vw solid $border !important; 
      .tit { padding-bottom: 0 !important; }
    }
    .topic_box + .topic_btn_wrap { border-top: none !important; }
    & > .list_cont > .list > li { 
      border: 0 !important;
      &:last-child { margin-bottom: 8.78906vw !important; }
    }
  }
  & + .a_btn_sky {
    width: 82.03125vw;
    border-radius: 0;
    margin: 8.78906vw 4.88281vw 19.53125vw;
    font-size: 4.68750vw;
    .ic { width: 3.90625vw; height: 3.90625vw; }
  }
}
.topic_list_wrap {
  display: none;
  padding: 4.88281vw $gutter_md $gutter_md;
  background-color: #f5f5f5;
  .tab_wrap > .nav > li > a { font-size: 3.51563vw; }
  .topic_list { display: block !important; padding: 0 !important; }
}
.feedback_form {
  @include flex;
  margin: $gutter_xs 0 $gutter_md; 
  input {
    flex-grow: 1;
    height: 9.76563vw;
    border: 0.09766vw solid $border;
    border-right: none;
    font-size: 3.51563vw;
    padding: 0 2.92969vw;
  }
  .btn_submit {
    width: 13.67188vw;
    height: 9.76563vw;
    font-size: 3.51563vw;
    font-weight: 500;
    background-color: $color_primary;
    border: 0.09766vw solid $border;
    color: #fff;
  }
}
.major_select_swiper {
  //margin: 4.88281vw 0 6.15234vw; 필터링 추가되서 여백 변경
  margin: 4.88281vw 0;
  .swiper-wrapper {
    .swiper-slide {
      width: auto !important;
      height: 44.04297vw;
      border: 0.19531vw solid $border;
      border-radius: $radius;
      display: inline-block;
      margin: $gutter_xs;
      &:first-child { margin-left: 0; }
      & > a { 
        width: 100%;
        height: 100%;
        display: block;
        padding: 10.25391vw 2.73438vw 2.73438vw;
      }
      ul {
        margin-top: 4.88281vw;
        li {
          font-size: 3.51563vw;
          font-weight: 600;
          line-height: 1.28;
        }
      }
      &.all {        
        width: 23.04688vw !important;       
        background: #ccdded;       
        & > a {
          @include flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          font-size: 4.49219vw;
          font-family: $sub_font_family;
          .ic { width: 5.76172vw; height: 5.76172vw; }
        }
      }
    }
  }
}
.pag_info_none.full_gray {
  min-height: calc(100vh - #{$header_height} - #{$footer_height} - #{$nav_height});
  // 추가로 상단 높이를 빼야하는데 상단에 '.filter_list' 높이가 유동적이라 계산식이 안됨.
  // 협의 후 최소 높잉를 지정 필요.    
  background-color: #fafafa;
  border: 0.09766vw solid $border;
}
.major_wrap {
  @include flex;
  min-height: 14.64844vw;
  justify-content: center;
  align-items: center;
  margin: 4.88281vw -3.90625vw 0;
  padding: $gutter_md $gutter_md;
  background-color: #fafafa;
  .ic {
    width: 6.44531vw;
    height: 6.44531vw;
    margin-right: $gutter_xs;
    flex-shrink: 0;
  }
  span {
    font-family: $sub_font_family;
    font-size: 5.07813vw;
    color: #222;
  }
}
.major_grade_box {
  background-color: #fafafa;
  margin: 4.88281vw -3.90625vw 0;
  padding: $gutter_md 0;
  .major_wrap { margin: 0; padding-top: 0; background-color: transparent; }
  .grade_box {
    border: 1px solid #d3d3d3;
    background-color: #fff;
    margin: 0 $gutter_md;
    & > .grade_box_list {
      @include flex;
      width: 100%;
      height: 200px;
      &.list_01 > li { width: 100%; }
      &.list_03 > li { width: 33.3333%; }
      & > li {
        position: relative;
        font-family: $sub_font_family;
        &::before {
          content: '';
          width: 1px;
          height: 120px;
          background-color: $border;
          position: absolute; right: 0; top: $gutter_md; 
        }
        &:last-child::before { background-color: transparent; }
        & > a {
          width: 100%;
          height: 100%;
          display: block;
          text-align: center;
          padding: $gutter_md;
          cursor: unset; //나중에 링크 널어달라고 하면 스타일만 삭제하면 됨         
          & > span { display: block; font-weight: 300; font-size: 40px; }
          & > strong { font-size: 48px; font-weight: 400; }
        }
      }
    }
  }
}
