.modal_body .list .tit { font-size: 3.90625vw; }
.accordion {
  margin: 0 -3.90625vw;
  .card { 
    @include shadow_accodion;
    margin: $gutter_sm 0; 
    border: none;
    border-radius:0;
    // border-bottom: 0.09766vw solid $border !important;
    &:first-child { margin: 0; }
    .card-header {
      @include shadow_accodion;
      background-color: #fff;
      padding: 0;
      border-top: 0.09766vw solid $border;
      border-bottom: 0.09766vw solid $border;
      .btn_collapse {
        @include flex; 
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        padding: 5.27344vw $gutter_md;
        border-bottom: 0.09766vw solid $border !important;
        .tit {
          font-size: 5.07813vw;
          font-family: $sub_font_family;
          font-weight: 400;
          small {
            display: inline-block;
            font-size: 3.12500vw;
            color: #555;
            font-weight: 300;
            strong { 
              color: #000; 
              font-weight: 400 !important;
            }
          }
        }
        .ic { width: 5.37109vw; height: 5.37109vw; }
        &.collapsed {
          .ic { background-position: -37.50000vw -24.02344vw; }
        } 
      } 
    }
  }
  .list_view {
    .topic_box { 
      margin: $gutter_xs $gutter_md;
      padding: 0 $gutter_md !important;
      border: 0.09766vw solid $border !important;
      .tit { font-size: 4.29688vw; }
    }
    .topic_btn_wrap {
      border: 0.09766vw solid $border !important; 
      .tit { padding-bottom: 0 !important; }
    }
    .topic_box + .topic_btn_wrap { border-top: none !important; }
    & > .list_cont > .list > li { 
      border: 0 !important;
      &:last-child { margin-bottom: 8.78906vw !important; }
    }
  }
  & + .a_btn_sky {
    width: 82.03125vw;
    border-radius: 0;
    margin: 8.78906vw 4.88281vw 19.53125vw;
    font-size: 4.68750vw;
    .ic { width: 3.90625vw; height: 3.90625vw; }
  }
}
.topic_list_wrap {
  display: none;
  padding: 4.88281vw $gutter_md $gutter_md;
  background-color: #f5f5f5;
  .tab_wrap > .nav > li > a { font-size: 3.51563vw; }
  .topic_list { display: block !important; padding: 0 !important; }
}
.feedback_form {
  @include flex;
  margin: $gutter_xs 0 $gutter_md; 
  input {
    flex-grow: 1;
    height: 9.76563vw;
    border: 0.09766vw solid $border;
    border-right: none;
    font-size: 3.51563vw;
    padding: 0 2.92969vw;
  }
  .btn_submit {
    width: 13.67188vw;
    height: 9.76563vw;
    font-size: 3.51563vw;
    font-weight: 500;
    background-color: $color_primary;
    border: 0.09766vw solid $border;
    color: #fff;
  }
}
.major_select_swiper {
  //margin: 4.88281vw 0 6.15234vw; 필터링 추가되서 여백 변경
  margin: 4.88281vw 0;
  .swiper-wrapper {
    .swiper-slide {
      width: auto !important;
      height: 44.04297vw;
      border: 0.19531vw solid $border;
      border-radius: $radius;
      display: inline-block;
      margin: $gutter_xs;
      &:first-child { margin-left: 0; }
      &.major_total_slide{
          height:auto;
          & > a{
              padding:5.37109vw 2.44141vw 15.13672vw 2.44141vw; position:relative;
              & .major_total{position:absolute; left:2.44141vw; bottom:6.83594vw; text-align:left;}
          }
      }
      & > a { 
        width: 100%;
        height: 100%;
        display: block;
        padding: 10.25391vw 2.73438vw 2.73438vw;
      }
      ul {
        margin-top: 4.88281vw;
        li {
          font-size: 3.51563vw;
          font-weight: 600;
          line-height: 1.28;
        }
      }
      &.all {        
        width: 23.04688vw !important;       
        background: #ccdded;       
        & > a {
          @include flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          font-size: 4.49219vw;
          font-family: $sub_font_family;
          .ic { width: 5.76172vw; height: 5.76172vw; }
        }
      }
    }
  }
}
.pag_info_none.full_gray {
  min-height: calc(100vh - #{$header_height} - #{$footer_height} - #{$nav_height});
  // 추가로 상단 높이를 빼야하는데 상단에 '.filter_list' 높이가 유동적이라 계산식이 안됨.
  // 협의 후 최소 높잉를 지정 필요.    
  background-color: #fafafa;
  border: 0.09766vw solid $border;
}
.major_wrap {
  @include flex;
  min-height: 14.64844vw;
  justify-content: center;
  align-items: center;
  margin: 4.88281vw -3.90625vw 0;
  padding: $gutter_md $gutter_md;
  background-color: #fafafa;
  .ic {
    width: 6.44531vw;
    height: 6.44531vw;
    margin-right: $gutter_xs;
    flex-shrink: 0;
  }
  span {
    font-family: $sub_font_family;
    font-size: 5.07813vw;
    color: #222;
  }
}
.major_total{
    font-family:$sub_font_family; font-size:$font_size; color:$font_black; text-align:center;
}
.major_grade_box {
  background-color: #fafafa;
  margin: 0 -3.90625vw 0;
  padding: $gutter_md 0;
  @at-root .cont_hd + .major_grade_box{margin-top:4.88281vw;}
  .major_wrap { 
      margin: 0; padding-top: 0; background-color: transparent; 
      &.only{min-height:inherit; margin-top:0; padding-bottom:2.92969vw;}
  }
  .grade_box {
    border: 0.09766vw solid #d3d3d3;
    background-color: #fff;
    margin: 0 $gutter_md;
    & > .grade_box_list {
      @include flex;
      width: 100%;
      height: 19.53125vw;
      &.list_01 > li { width: 100%; }
      &.list_03 > li { width: 33.3333%; }
      & > li {
        position: relative;
        font-family: $sub_font_family;
        &::before {
          content: '';
          width: 0.09766vw;
          height: 11.71875vw;
          background-color: $border;
          position: absolute; right: 0; top: $gutter_md; 
        }
        &:last-child::before { background-color: transparent; }
        & > a {
          width: 100%;
          height: 100%;
          display: block;
          text-align: center;
          padding: $gutter_md;
          cursor: unset; //나중에 링크 널어달라고 하면 스타일만 삭제하면 됨         
          & > span { display: block; font-weight: 300; font-size: 3.90625vw; }
          & > strong { font-size: 4.68750vw; font-weight: 400; }
        }
      }
    }
  }
}
.cont_tit {
  font-family: $sub_font_family; 
  font-size: 4.68750vw;
  font-weight: 400;
  line-height: 1.4375;
  padding-left: $gutter_md;
  position: relative;
  &::before {
    content: '';
    width: 1.56250vw;
    height: 1.56250vw;
    display: inline-block; 
    background-color: #333; 
    position: absolute; top: 50%; left: 0; 
    margin-top: -0.78125vw;
  }
  & + .list_view { margin-top: 0; }
  & + .tab_wrap, & + .pag_info { margin-top: $gutter_sm; }
}
.major_wrap + .cont_tit, .list_view + .cont_tit { margin-top: 7.81250vw; }
.major_wrap + .tab_wrap { margin-top: 2.92969vw; }
.block { display: block; }
.status_area {
  margin-bottom: 19.53125vw;
  & > .status_list {
    @include flex;
    flex-wrap: wrap;
    margin: $gutter_sm 0 $gutter_xs;
    & > li {
      width: 33.3%;
      border: 0.09766vw solid $border;
      &.active .btn_txt { background-color: #e1e8f2; }
      &:first-child button { @include opacity(.4); } //임의로 disabled 일 때 효과줌 > 디자인없음
      &:first-child.active .btn_txt { background-color: transparent; }
      .btn_txt { 
        width: 100%;
        height: 100%;
        padding: $gutter_md 2.92969vw;
        text-align: left;
        color: #333;
        & > span { display: block; font-size: 3.12500vw; }
        & > strong {
          float: right; 
          font-size: 3.12500vw;  
          font-weight: 400;
          margin-top: $gutter_sm;
          span { font-size: 5.07813vw; font-weight: 500;}
        }
      }
    }
  }
  & > .status_cont {
    background-color: #fafafa;
    margin: 0 -#{$gutter_md};
    padding: 0 $gutter_md;
    border-top: 0.09766vw solid $border;
    border-bottom: 0.09766vw solid $border;
    & > li {
      display: none;
      &.active { display: block; }
      .tit { font-size: 4.29688vw; color: #333; margin: $gutter_md 0 $gutter_sm; }
      .desc { font-size: 3.90625vw; color: #333; line-height: 1.5; }
      .major_list {
        margin-bottom: -#{$gutter_sm};
        & > li {
          @include flex;
          width: 100%;
          min-height: 11.71875vw;
          align-items: center;
          justify-content: space-between;
          font-size: 3.90625vw;
          border-bottom: 0.09766vw solid $border;
          padding: 20px 0;
          strong { margin-right: $gutter_xs; }
          .block + .block { padding-top: $gutter_xs; }
          &.hd {
            color: #333;
            font-weight: 600;
            border-top: 0.09766vw solid $border_dark;
            border-bottom: 0.09766vw solid $border_dark;
          }
        }
      }
    }
  }
}
.list_view.column { //원래 한줄에 2개씩 나오는 거였는데 1줄로 바꿔서 덮어서 수정함
  .list_hd { border-bottom: transparent; }
  .list {
    @include flex;
    flex-wrap: wrap;
    margin: 0 -#{$gutter_xs};
    & > li {
      width: calc(100% - #{$gutter_sm});
      margin: $gutter_xs !important;
      border: 0.09766vw solid $border;
      padding: $gutter_md !important;
      overflow: hidden;
      @include flex;
      justify-content: space-between;
      align-items: center;
      & > div { margin: 0 !important; }
      .tit_lg { font-size: 4.29688vw; }
      .desc { display: block; font-size: 3.51563vw; margin: $gutter_xs 0 0; }
      .icon_chk_wrap { float: right; }
      &:last-child { border-bottom: 0.09766vw solid $border !important; }
    }
  }
  @at-root .paging.sm { padding-bottom: $gutter_md; }
}
.btn_filter {
  width: 82.03125vw;
  font-size: 3.90625vw;
  font-weight: 500;
  border-radius: 0;
  border: 0.09766vw solid $border;
  margin: 0 4.88281vw 9.76563vw;
  padding: 2.92969vw; 
  * { vertical-align: middle; }
  .ic { width: 3.90625vw; height: 3.90625vw; }
}
.mb_last { margin-bottom: 19.53125vw !important; }
.pop_sub_title + .desc { font-size: 3.90625vw; color: #333; margin-top: $gutter_sm; }
.pop_sub_title + .desc + .list_view { margin-top: 9.76563vw; }
.btn_shortcut_wrap {
  @include flex;
  flex-wrap: wrap;
  margin: 0 -#{$gutter_xs};
  padding: 0 $gutter_md;
  .a_btn_white {
    width: calc(50% - #{$gutter_sm});
    margin: $gutter_xs !important;
    font-size: 3.41797vw; //원래는 36인데 글씨가 떨어져서 바꿈
    font-weight: 500;
    letter-spacing: -.02rem;
    padding: 1.95313vw 3.41797vw;
    .ic { width: 3.90625vw; height: 3.90625vw; }
  }
}
.box_gray {
  border: 0.09766vw solid $border;
  background-color: #fafafa;
  padding: 2.92969vw; 
  min-height: 11.71875vw;
  font-size: 3.12500vw;
  &.total_box {
    @include flex;
    justify-content: space-between;
    align-items: center;
    strong { font-size: 5.07813vw; }
  }
  &.grade_box {
    height: 37.10938vw;
    margin: $gutter_sm 0 9.76563vw;
    .desc { font-size: 3.12500vw; }
    & > ul {
      @include flex;
      justify-content: space-between;
      margin: $gutter_sm 0 0;
      & > li {
        text-align: center;
        & > span { display: block; font-weight: 500; }
        .round {
          width: 19.33594vw;
          height: 19.33594vw;
          display: inline-block;
          border-radius: 50%;
          color: #fff;
          line-height: 19.33594vw;
          strong { font-size: 5.07813vw; margin-right: $gutter_xs; }
        }
        &:first-child .round { background-color: #838eda; }
        &:nth-child(2) .round { background-color: #87b069; }
        &:nth-child(3) .round { background-color: #e3993d; }
        &:nth-child(4) .round { background-color: #47939f; }
      }
    }
  }
}
.box_count {
  @include flex;
  flex-wrap: wrap;
  margin: $gutter_sm 0 $gutter_md;
  & > li {
    width: 25%;
    height: 17.57813vw;
    border: 0.09766vw solid $border;
    padding: 2.44141vw 2.92969vw;
    & > span {
      display: block;
      font-size: 3.12500vw;
      strong { font-size: 5.07813vw; }
      & + span { margin-top: $gutter_xs}
      &:nth-child(2) {
        height: 4.39453vw;
        overflow: hidden;
        text-overflow: ellipsis; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 1;
      }
    }
  }
}
.modal_body .summary_info.lg {
  margin: 2.92969vw -#{$gutter_md} 0;
  background: transparent;
  border-left: transparent;
  border-right: transparent;
} 
.grade_num_list {
  @include flex;
  flex-wrap: wrap;
  margin: 4.88281vw -#{$gutter_xs} 2.92969vw;
  & > li {
    width: calc(50% - #{$gutter_sm});
    height: 22.46094vw;
    border: 0.09766vw solid $border;
    border-radius: $radius;
    margin: $gutter-xs;
    font-size: 3.12500vw;
    padding: 4.88281vw 2.92969vw;
    position: relative;
    p { font-size: 3.12500vw; margin-bottom: 0.97656vw; }
    strong { font-size: 5.07813vw; margin-right: $gutter_xs; }
    &::before {
      content: '';
      width: 9.47266vw;
      height: 9.47266vw;
      display: inline-block;
      position: absolute; bottom: 3.90625vw; right: 2.92969vw; 
      background: url(../images/icons_m.png) no-repeat 0 0 / 97.65625vw auto;  
    }
    &.grade_num01::before { background-position: -78.12500vw -58.10547vw; }
    &.grade_num02::before { background-position: -88.18359vw -58.10547vw; }
    &.grade_num03::before { background-position: -78.12500vw -68.16406vw; bottom: 0.97656vw; }
    &.grade_num04::before { background-position: -88.18359vw -68.16406vw; }
    &.grade_num05::before { background-position: -78.12500vw -78.22266vw; }
    &.grade_num06::before { background-position: -88.18359vw -78.22266vw; }
    &.grade_num07::before { background-position: -78.12500vw -88.28125vw; }
    &.grade_num08::before { background-position: -88.18359vw -88.28125vw; }
  }
}
.img_upload_wrap {
  .img_upload_bax {
    .img_upload_info li { font-size: 3.71094vw; line-height: 1.75; }
    .file_btn_box {
      margin: 3.90625vw 0 9.76563vw;
      label {
        @include flex;
        justify-content: center;
        align-items: center;
        width: 41.01563vw;
        height: 11.71875vw;
        font-weight: 500;
        color: #fff;
        background-color: #48b9e1;
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
        .ic { width: 5.85938vw; height: 5.85938vw; margin-right: $gutter_sm; }
        span { font-size: 3.90625vw; }
      }
      input {
        position: absolute;
        width: 0.09766vw;
        height: 0.09766vw;
        padding: 0;
        margin: -0.09766vw;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
    }
  }
  .img_upload_box {
    margin: 5.85938vw 0 2.92969vw;
    .upload_list {
      .upload_img_list {
        @include flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        & > li {
          width: calc(10% - 0.97656vw);
          display: inline-block;
          margin: 0.48828vw;          
          background-color: #f5f5f5;
          border-radius: $radius;
          overflow: hidden;
          &:nth-child(10n+1) { clear: both; }
          img { width: 8.49609vw; height: 8.49609vw; }
        }
      }
    }
  }
}