/*----------------------------------------------------- Campus Life -----------------------------------------------------*/
.btn_campuslife {
  @include shadow_gnb;
  width: 140px;
  height: 140px; 
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: fixed; right: 40px; bottom: 290px;
  z-index: 999;
  .ic { background-position: -681px -336px; }
}
.modal-content.camp_wrap {
  @include flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column-reverse;
  background-color: transparent;
  padding: 0;
  .search_form_wrap {
    .search_form {
      border-bottom: 0.58594vw solid #fff;
      input { background: transparent; color: #fff; }
      input::placeholder { color: #fff; }
      .ic_voice { 
        width: 43px;
        height: 66px;
        background-position: -622px -336px; 
      }
    }
    .txt_sm { 
      width: calc(100% - 8.78906vw*2);
      margin: $gutter_sm 8.78906vw;
    }
  }
  .modal_header {
    height: 750px;
    padding: 0;
    position: inherit;
    background-color: transparent;
    .btn_transparent {
      width: 840px;
      height: 120px;
      color: #fff;
      font-size: 40px;
      background-color: rgba(255, 255, 255, .2);
      border: 1px solid #fff;
      margin: 40px 90px 120px;
    }
    .camp_menu_wrap {
      @include flex;
      width: 100vw;
      height: 220px; 
      flex-direction: row;
      align-items: center;
      padding: 0 $gutter_md;
      position: fixed; bottom: 250px; left: 0;
      .camp_menu {
        width: calc(100% - 140px);
        & > li {
          display: inline-block;
          margin: 8px 6px;
          & > a {
            @include flex;
            width: 250px;
            height: 100px;
            align-items: center;
            padding: 0 $gutter_sm;
            border-radius: 10px;
            background-color: #f9f9f9;         
            .ic {
              width: 60px;
              height: 62px;
              margin-right: 3px;
              &.ic_time { background-position: 0 -633px; }
              &.ic_bell { background-position: -60px -633px; }
              &.ic_cap { background-position: -120px -633px; }
              &.ic_book { background-position: -180px -633px; }
              &.ic_weather { background-position: -240px -633px; }
              &.ic_search_sm { background-position: -300px -633px; }
            }
            span { font-size: 32px; color: #555; }
          }
          &.active {
            & > a { 
              span { color: #48b9e1; font-weight: 500; }
              .ic { background-position-y: -695px; }
            }
          }
        }
      }
      .btn_pop_close {
        width: 140px;
        height: 140px;
        margin: 0;
        position: initial;
        display: inline-block;
        background: #fff;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1000;
        .ic { background-position: -821px -336px; }
      }
    }
  }
  .modal_body {
    width: 100vw;
    height: calc(100vh - 750px);
    padding-top: 165px;
    &.scroll_none {  overflow-y: hidden; }
    .scroll_section {
      height: calc(100vh - 750px - 165px);
      background-color: #fff;
      border-radius: 10px;
      padding: $gutter_md;
      overflow-x: hidden;
      overflow-y: auto;      
    }
  }
}
.schedule_wrap {
  .schedule {
    margin-bottom: $gutter_md;
    h5.tit { 
      font-family: $sub_font_family;
      font-weight: 400;
      font-size: 40px; 
      color: #222; 
      padding: $gutter_xs 0;
    }
    .tbl {
      thead {
        border-bottom: 4px solid #666;
        th {
          padding: $gutter_sm 14px;
          font-size: 36px; 
          color: #555; 
          font-weight: 600;
        }
      }
      tbody {
        tr { border-bottom: 1px solid $border; }
        td {
          padding: $gutter_md 14px;          
          span { font-size: 36px; color: #222; font-weight: 400;  line-height: 1.38; }
        }
      }
    }
  }

}
.modal-content.camp_wrap {
  color: #fff;
  .txt { 
    font-size: 40px; 
    &.txt_sm { 
      font-size: 29px; //글씨 떨어져서 1px줄임
      .ic { margin-right: 8px; } 
      .ic, span { vertical-align: middle; }
    }
  }
  .filter_list {
    margin: 50px -0.48828vw 130px;
    & > li {
      & > a {
        background-color: #555;
        color: rgba(255, 255, 255, .5);
        color: rgba(255, 255, 255, .5);
      }
      &.active > a {
        background-color: #fff;
        color: #222;
      }
    }
  }
}

// 캠퍼스라이프 팝업
.camp_pop_cont {
  & > .tit:first-child {
    font-size: 36px;
    font-weight: 400;
    color: #555;
    border-bottom: 4px solid #666;
    padding-bottom: 30px;
    & > .text_blue { 
      font-family: $sub_font_family; 
      font-size: 46px;
      text-decoration: underline;
      margin-right: $gutter_xs;
    }
  }
  .summary_info.lg {
    margin: 0;
    padding: $gutter_md 0;
    & > dt::before { display: none; }
    dt, dd { padding-left: $gutter_xs; }
    dd { 
      border-bottom: 1px solid $border; 
      padding-bottom: 60px;
      margin-bottom: 40px;
      &:last-of-type {
        border-bottom: transparent;
        margin-bottom: 0;
        padding-bottom: $gutter_sm;
      }
    }
  }//.summary_info
  .list_view .label_round_wrap {
    justify-content: start;
    & > p:first-child { 
      width: 270px; 
      .label_round { 
        font-size: 30px;
        margin: 0 $gutter_md; 
        width: 190px; //디자인이 고정값임 설계서 기준 내용으로 할 경우 잘려서 조금 더 넓게 변경 
      }
    }
    & > a { 
      width: calc(100% - 270px); 
      .tit { 
        font-size: 36px; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
      .tit_info { font-size: 32px; }
    } 
  }//.list_view .label_round_wrap
  .login_shortcut {
    text-align: center;
    margin-top: 100px;
    .desc { 
      font-size: 32px; 
      color: #555; 
      line-height: 1.875; 
    }
    .a_btn_white { 
      width: calc(100% - 100px); 
      border-radius: 0; 
      margin: 50px; 
      font-size: 40px;
    }
  }//.login_shortcut
  .list_view .surrounding_info {
    text-align: right;
    .tit { text-align: left; font-size: 36px; }
    .tit_info { display: block; text-align: left; font-size: 32px; }
    .a_btn.a_btn_white {
      width: 500px;
      height: 100px;
      padding: 0;
      margin: 50px 0 20px;
      color: #555;
      font-size: 36px;
    }
  }//.list_view .surrounding_info
  .facility_info {
    @include flex;
    flex-wrap: wrap;
    align-content: center;
    margin: $gutter_md 0;
    dt, dd { 
      min-height: 94px; 
      line-height: 94px; 
      font-size: 36px;
      padding: 0 $gutter_xs; 
    }
    dt { width: 235px; }
    dd { width: calc(100% - 235px); }
    .a_btn_white { 
      width: 320px;
      height: 90px;
      font-size: 36px;
      font-weight: 400;
      color: #555;
      border-radius: 0;
      padding: 0;
      line-height: initial;
    }
  }//.facility_info
}
//캠퍼스 음성검색 팝업
.modal.voice_alert {
  .modal-dialog {
    @include flex;
    justify-content: center;
    align-items: center;
    .modal-content { 
      width: 750px;
      height: 400px;
      padding: 0;
      border-radius: $radius;
      overflow: hidden;
      .modal_header { position: initial; }
      .modal_body {
        @include flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        .btn_pop_close {
          position: absolute; top: $gutter_md; right: $gutter_md;
          .ic { background-position: -19.53125vw -32.81250vw; }
        }
        .tit { font-size: 44px; font-family: $sub_font_family; font-weight: 400; }
        .desc { font-size: 32px; color: #555; text-align: center; }
        .tit + .desc { margin-top: 50px; }
      }
    }
  }
}
.modal-content.voice_alert {

}
.text_green { color: #3b991a; }
.campuslife_body .modal-backdrop.show { 
  opacity: .8; 
  & + .modal-backdrop.show { opacity: 0; }
}
//캠퍼스라이프_열람실현황
.modal-content.camp_wrap {
  .control_wrap.full {
    width: 100%;
    .sel_area {
      width: 100%;
      select.form-control { width: 100%; }
    }
    & + .status_hd { margin-top: 80px; }
  }
  .status_hd {
    margin: 30px 0;
    .txt {
      font-family: $sub_font_family;
      font-weight: 400;
      font-size: 40px;
    }
    .ic {
      width: 60px;
      height: 60px;
      &.ic_status { background-position: -498px -336px; }
      &.ic_reset { background-position: -438px -336px; }
    }
  }
  .status_cont {
    & + .status_hd { margin-top: 120px; }
    .reading_status {
      @include flex;
      flex-wrap: wrap;
      background-color: #fff;
      padding: 50px 45px 10px;
      dt, dd {
        width: 240px;
        color: #555;
        font-size: 32px;
        margin-bottom: $gutter_md;
      }
      dd {
        width: calc(50% - 240px);
        color: #222;
        font-weight: 700;
        padding: 0 20px;
        span { margin: 0 5px; }
      }
    }
    .library_shortcuts {
      @include flex;
      justify-content: space-between;
      & > li {
        & > a {
          width: 280px;
          height: 260px;
          display: inline-block;
          line-height: 79px;
          text-align: center;
          background-color: #fff;
          padding-top: 180px;
          position: relative;
          font-size: 32px;
          font-weight: 600;
          color: #555;
          &::before {
            content: '';
            width: 280px;
            height: 180px;
            display: inline-block;
            position: absolute; top: 0; left: 0; 
            border-bottom: 1px solid $border;
          }
          &.return::before { background: url(../images/icon/library/01.png) no-repeat center center ; }
          &.reservation::before { background: url(../images/icon/library/02.png) no-repeat center center ; }
          &.mylibrary::before { background: url(../images/icon/library/03.png) no-repeat center center ; }
        }
        
      }
    }
  }
}
//캠퍼스라이프_날씨
.modal-content.camp_wrap {
  .status_hd {
    .btn_wrap span { font-size: 36px; }
  }
  .status_cont {
    .weather_box {
      @include flex;
      width: 100%;
      height: 440px;
      background-color: #fff;
      border-radius: 10px;
      .img_area {
        @include flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 530px;
        height: 100%;
        & > img { }
        & > p { 
          font-size: 36px; 
          color: #222; 
          padding-top: 40px;
          text-align: center; 
        }
      }
      .detail_area {
        @include flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% - 530px);
        height: 100%;
        & > p { 
          font-size: 32px; color: #222; line-height: 1.625; 
          span { margin: 0 5px; }
        }
        .current_temp * { font-size: 90px; font-weight: 600; letter-spacing: -.2rem; }
        .difference_temp { margin-bottom: 50px; }
        .normal { color: #53bc29; }
        .bad { color: #ff9908; }
        .good, .low { color: #0054a3; }
        .high { color: #e62122; }
      }
    }
  }
}
//캠퍼스라이프_시간표
.modal-content.camp_wrap {
  .timetable_wrap {
    margin: -40px;
    .tbl {
      th, td {
        font-size: 24px;
        text-align: center;
        line-height: 1.66667;
      }
      thead {
        width: 100%;
        th {
          height: 50px;
          color: #555;
          border-bottom: 1px solid $border;
          &:first-child { width: 110px; max-width: 110px; border-right: 1px solid $border; }
        }
      }
      tbody {
        th { 
          height: 94px;
          display: block;
          padding-top: 20px;
          strong { color: #222; font-weight: 600; }
          span { color: #222; font-weight: 400; display: block; }
        }
        td {
          height: 94px; 
          font-size: 24px;
          color: #222;
          &.td_a_time a { display: block; line-height: 2.08; padding: 10px; word-break: break-all; }
        }
      }
    }
  }
}