/*----------------------------------------------------- Campus Life -----------------------------------------------------*/
.btn_campuslife {
  @include shadow_gnb;
  width: 140px;
  height: 140px; 
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: fixed; right: 40px; bottom: 290px;
  z-index: 999;
  .ic { background-position: -681px -336px; }
}
.modal-content.camp_wrap {
  @include flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column-reverse;
  background-color: transparent;
  padding: 0;
  .search_form_wrap {
    .search_form {
      border-bottom: 0.58594vw solid #fff;
      input { background: transparent; color: #fff; }
      input::placeholder { color: #fff; }
      .ic_voice { 
        width: 43px;
        height: 66px;
        background-position: -622px -336px; 
      }
    }
    .txt_sm { 
      width: calc(100% - 8.78906vw*2);
      margin: $gutter_sm 8.78906vw;
    }
  }
  .modal_header {
    height: 604px;
    padding: 0;
    position: inherit;
    background-color: transparent;
    .camp_menu_wrap {
      @include flex;
      width: 100vw;
      height: 220px; 
      flex-direction: row;
      align-items: center;
      padding: 0 $gutter_md;
      position: fixed; bottom: 250px; left: 0;
      .camp_menu {
        width: calc(100% - 140px);
        & > li {
          display: inline-block;
          margin: 8px 6px;
          & > a {
            @include flex;
            width: 250px;
            height: 100px;
            align-items: center;
            padding: 0 $gutter_sm;
            border-radius: 10px;
            background-color: #f9f9f9;         
            .ic {
              width: 60px;
              height: 62px;
              margin-right: 3px;
              &.ic_time { background-position: 0 -633px; }
              &.ic_bell { background-position: -60px -633px; }
              &.ic_cap { background-position: -120px -633px; }
              &.ic_book { background-position: -180px -633px; }
              &.ic_weather { background-position: -240px -633px; }
              &.ic_search_sm { background-position: -300px -633px; }
            }
            span { font-size: 32px; color: #555; }
          }
          &.active {
            & > a { 
              span { color: #48b9e1; font-weight: 500; }
              .ic { background-position-y: -695px; }
            }
          }
        }
      }
      .btn_pop_close {
        width: 140px;
        height: 140px;
        margin: 0;
        position: initial;
        display: inline-block;
        background: #fff;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1000;
        .ic { background-position: -821px -336px; }
      }
    }
  }
  .modal_body {
    width: 100vw;
    height: calc(100vh - 604px);
    padding-top: 165px;
  }
}
.modal-content.camp_wrap {
  color: #fff;
  .txt { 
    font-size: 40px; 
    &.txt_sm { 
      font-size: 29px; //글씨 떨어져서 1px줄임
      .ic { margin-right: 8px; } 
      .ic, span { vertical-align: middle; }
    }
  }
  .filter_list {
    margin: 50px -0.48828vw 130px;
    & > li {
      & > a {
        background-color: #555;
        color: rgba(255, 255, 255, .5);
        color: rgba(255, 255, 255, .5);
      }
      &.active > a {
        background-color: #fff;
        color: #222;
      }
    }
  }
}


// 캠퍼스라이프 팝업
.camp_pop_cont {
  & > .tit:first-child {
    font-size: 36px;
    font-weight: 400;
    color: #555;
    border-bottom: 4px solid #666;
    padding-bottom: 30px;
    & > .text_blue { 
      font-family: $sub_font_family; 
      font-size: 46px;
      text-decoration: underline;
      margin-right: $gutter_xs;
    }
  }
  .summary_info.lg {
    margin: 0;
    padding: $gutter_md 0;
    & > dt::before { display: none; }
    dt, dd { padding-left: $gutter_xs; }
    dd { 
      border-bottom: 1px solid $border; 
      padding-bottom: 60px;
      margin-bottom: 40px;
      &:last-of-type {
        border-bottom: transparent;
        margin-bottom: 0;
        padding-bottom: $gutter_sm;
      }
    }
  }//.summary_info
  .list_view .label_round_wrap {
    justify-content: start;
    & > p:first-child { 
      width: 270px; 
      .label_round { 
        font-size: 30px;
        margin: 0 $gutter_md; 
        width: 190px; //디자인이 고정값임 설계서 기준 내용으로 할 경우 잘려서 조금 더 넓게 변경 
      }
    }
    & > a { 
      width: calc(100% - 270px); 
      .tit { 
        font-size: 36px; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
      .tit_info { font-size: 32px; }
    } 
  }//.list_view .label_round_wrap
  .login_shortcut {
    text-align: center;
    margin-top: 100px;
    .desc { 
      font-size: 32px; 
      color: #555; 
      line-height: 1.875; 
    }
    .a_btn_white { 
      width: calc(100% - 100px); 
      border-radius: 0; 
      margin: 50px; 
      font-size: 40px;
    }
  }//.login_shortcut
  .list_view .surrounding_info {
    text-align: right;
    .tit { text-align: left; font-size: 36px; }
    .tit_info { display: block; text-align: left; font-size: 32px; }
    .a_btn.a_btn_white {
      width: 500px;
      height: 100px;
      padding: 0;
      margin: 50px 0 20px;
      color: #555;
      font-size: 36px;
    }
  }//.list_view .surrounding_info
  .facility_info {
    @include flex;
    flex-wrap: wrap;
    align-content: center;
    margin: $gutter_md 0;
    dt, dd { 
      min-height: 94px; 
      line-height: 94px; 
      font-size: 36px;
      padding: 0 $gutter_xs; 
    }
    dt { width: 235px; }
    dd { width: calc(100% - 235px); }
    .a_btn_white { 
      width: 320px;
      height: 90px;
      font-size: 36px;
      font-weight: 400;
      color: #555;
      border-radius: 0;
      padding: 0;
      line-height: initial;
    }
  }//.facility_info
}
//캠퍼스 음성검색 팝업
.modal.voice_alert {
  .modal-dialog {
    @include flex;
    justify-content: center;
    align-items: center;
    .modal-content { 
      width: 750px;
      height: 400px;
      padding: 0;
      border-radius: $radius;
      overflow: hidden;
      .modal_header { position: initial; }
      .modal_body {
        @include flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        .btn_pop_close {
          position: absolute; top: $gutter_md; right: $gutter_md;
          .ic { background-position: -19.53125vw -32.81250vw; }
        }
        .tit { font-size: 44px; font-family: $sub_font_family; font-weight: 400; }
        .desc { font-size: 32px; color: #555; text-align: center; }
        .tit + .desc { margin-top: 50px; }
      }
    }
  }
}
.modal-content.voice_alert {

}
.text_green { color: #3b991a; }
.campuslife_body .modal-backdrop.show { 
  opacity: .8; 
  & + .modal-backdrop.show { opacity: 0; }
}
