@font-face {
    font-family: 'NanumGothic';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/NanumGothicLight.eot');
    src: url('../fonts/NanumGothicLight.eot') format('embedded-opentype'),
         url('../fonts/NanumGothicLight.woff') format('woff'),
         url('../fonts/NanumGothicLight.TTF') format('truetype')
}

@font-face {
    font-family: 'NanumGothic';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NanumGothic.eot');
    src: url('../fonts/NanumGothic.eot') format('embedded-opentype'),
         url('../fonts/NanumGothic.woff') format('woff'),
         url('../fonts/NanumGothic.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumGothic';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/NanumGothicBold.eot');
    src: url('../fonts/NanumGothicBold.eot') format('embedded-opentype'),
         url('../fonts/NanumGothicBold.woff') format('woff'),
         url('../fonts/NanumGothicBold.TTF') format('truetype')
}

@font-face {
    font-family: 'NanumGothic';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/NanumGothicExtraBold.eot');
    src: url('../fonts/NanumGothicExtraBold.eot') format('embedded-opentype'),
         url('../fonts/NanumGothicExtraBold.woff') format('woff'),
         url('../fonts/NanumGothicExtraBold.TTF') format('truetype')
}

@font-face {
    font-family: 'Gong Gothic';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Gong Gothic Light.eot');
    src: url('../fonts/Gong Gothic Light.eot') format('embedded-opentype'), 
         url('../fonts/Gong Gothic Light.woff') format('woff'),
         url('../fonts/Gong Gothic Light.TTF') format('truetype')
}

@font-face {
    font-family: 'Gong Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Gong Gothic Medium.eot');
    src: url('../fonts/Gong Gothic Medium.eot') format('embedded-opentype'), 
         url('../fonts/Gong Gothic Medium.woff') format('woff'),
         url('../fonts/Gong Gothic Medium.TTF') format('truetype')
}

@font-face {
    font-family: 'Gong Gothic';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Gong Gothic Bold.eot');
    src: url('../fonts/Gong Gothic Bold.eot') format('embedded-opentype'), 
         url('../fonts/Gong Gothic Bold.woff') format('woff'),
         url('../fonts/Gong Gothic Bold.TTF') format('truetype')
}