/* common */

/* favorite */
.favorite_view {
    & .favorite_area {
        padding-bottom:9.76563vw;
        & > dt {
            @include shadow_gnb(); 

            height:11.71875vw; font-family:$sub_font_family; font-size:3.90625vw; line-height:4.88281vw; padding:3.32031vw $gutter_md; border-top:0.09766vw solid $border; border-bottom:0.09766vw solid $border;
            & > strong{line-height:3.90625vw; font-weight:400;}
            & .a_txt_btn{
                font-family:$base_font_family; font-size:$font_size; line-height:3.51563vw; font-weight:500; padding-bottom:0.97656vw;
                &.text_blue{
                    border-bottom:0.29297vw solid $color_primary;
                }
                &.text_red{
                    border-bottom:0.29297vw solid $color_red;
                }
            }
        }

        & > dd {             
            padding:2.92969vw $gutter_sm; 
            & .app_list{
                @include flex;
                flex-wrap:wrap; margin-bottom:$gutter_sm;
                & > li{
                    flex:0 0 33.33%; width:33.33%; margin-bottom:4.88281vw; text-align:center; position:relative;
                    &:nth-child(3n+1){clear:both; }
                    & > .btn_delete{width:8.78906vw; height:8.78906vw; position:absolute; top:0; right:1.46484vw;}
                    & > a{
                        display:block; /*width:18.84766vw;*/ margin:0 auto; 
                        & > .favicon{display:block; width:18.84766vw; height:18.84766vw; margin:0 auto; border:0.09766vw solid $border; border-radius:50%; overflow:hidden;}
                        & > img{display:block; width:18.84766vw; height:18.84766vw; margin:0 auto;}
                        & > .site_name{
                            display:block; font-size:$font_size; line-height:5.37109vw; margin:$gutter_sm 0;
                            @at-root .modal .site_name{color:#222;}
                        }
                    }                    
                    &.icon_add{                        
                        &.icon_circle_add > a{border-radius:50%;}
                        & > a{
                            position:relative; padding-bottom:0; width:18.84766vw; height:18.84766vw; border:0.09766vw solid $border; border-radius:1.95313vw;
                            & > .ic_add{width:4.88281vw; height:4.88281vw; background-position:-32.61719vw -24.02344vw; background-color:#fff; position:absolute; left:50%; top:50%; margin:-2.44141vw 0 0 -2.44141vw;}
                        }                        
                    }
                }                  
            }
            & .site_list{
                & > li{
                    
                    & > a{
                        display:flex; width:74.21875vw; margin:0 auto $gutter_sm auto; border:0.09766vw solid $border;
                        & > img{width:29.29688vw;}
                        & > span{display:block; width:44.92188vw; height:9.76563vw; line-height:9.76563vw; font-weight:500; color:#fff; padding:0 2.92969vw; background-color:#888; border-left:0.09766vw solid $border;}
                    }
                }

            }
        }
    }
}

/* setting */
.set_wrap{
    
    & .user_info{
        padding:4.39453vw 2.92969vw; text-align:center;
        & strong, & span{display:block;}
        & strong{font-family: $sub_font_family; font-weight: 400; font-size: 4.29688vw; color:#222; margin-bottom: $gutter_sm;}
        & span{margin-bottom:3.41797vw;}
        & .logout{width:26.36719vw; height:9.76563vw; line-height:9.76563vw; font-weight:500; border-radius:$radius;}
    }

    & .set_list{
        & > li{
            @include shadow_accodion;
            font-family:$sub_font_family; font-size:3.90625vw; font-weight:400;  margin-bottom:1.75781vw; background-color:#fff; border-top:0.09766vw solid $border; border-bottom:0.09766vw solid $border; border-radius:0.97656vw; border-radius:0; position:relative;
        }
        & > li > a{
            display:block; padding:3.41797vw $gutter_md;

        }
        & > span{display:inline-block; vertical-align:middle; width:100%; font-weight:500;}
        & .ic{vertical-align:middle; width:5.07813vw; height:5.07813vw; margin-right:1.75781vw;}
        & .version_area{
            padding:3.41797vw $gutter_md; overflow:hidden;
            &  > .version{float:right; font-family:$base_font_family; font-size:$font_size; color:#b6b6b6;}
        }
    }
}




/* modal */
.modal{
    overflow-y:auto; text-align:center;
    &.full_modal{
        text-align:left;
    }
    &:not(.full_modal):not(.voice_alert01):before{
        display: inline-block; vertical-align: middle; content: ""; height: 100%;
    }
    & .modal-dialog{
        max-width:inherit; margin:0 auto;
    }
    &:not(.full_modal) modal-dialog{
        display: inline-block; text-align: left; vertical-align: middle; border-radius:0.48828vw;
    }
    // 선행/연계 과목 영역
    // & .list_cont_box .list li{
    //     border:0.09766vw solid $border; 
    //     &:first-child{border-top:none;}
    //     & .topic_box{
    //         padding:0 $gutter_md !important;
    //         & .tit{padding-bottom:2.44141vw;}
    //         & .tit_info{padding-bottom:4.88281vw;}
    //     }
    // }
}

/* full modal */
.full_modal{    
    & .modal-dialog{
        width:100%; height:100%;
    }
    & .modal-content{
        width:100%; height:100%; padding:$header_height 0 0 0; border:none; border-radius:0;
        &.modal-btn-content{
            padding-bottom:23.43750vw;
            .btn_filter{display:block;}
        }
    }
    & .modal_header{
        position:fixed; left:0; top:0; right:0; height:$header_height;
    }
    & .modal_body{
        width:100%; height:100%; overflow-y:auto;
        & .pag_info_none{
            display:flex; align-items:center; justify-content:center; width:100%; height:100%;
            &.pag_sm_info_none{
                max-height:calc(100% - 24.21875vw);
                @at-root .full_modal .modal_body .inquiry_wrap .pag_info_none{
                    width:calc(100% + 7.81250vw); max-height:calc(100% - 7.8125vw); margin-left:- #{$gutter_md}; background-color:#fafafa; border-top:0.09766vw solid $border;
                }
            }
            &.pag_noti_none{max-height:calc(100% - 16.60156vw); background-color:#fafafa;}
            & > span{
            display:block; line-height:6.25000vw; font-family: $sub_font_family; font-weight: 300; font-size:4.29688vw; color:#999; padding-top:15.62500vw; text-align:center;
                &:before{
                    position:absolute; top:0; left:50%; margin-left:-5.37109vw;
                }
                & > span{line-height:8.20313vw;}
            }
        }
        & .pop_btn_area{
            margin-top:5.85938vw; margin-bottom:5.85938vw; text-align:right;
            @at-root .full_modal .push_wrap .pop_btn_area{padding:0 $gutter_md; margin-top:$gutter_sm;}
            @at-root .full_modal .site_add_wrap .pop_btn_area {/*padding:0 $gutter_md;*/ /*margin-top:$gutter_sm;*/ }
            @at-root .full_modal .answer_wrap .pop_btn_area {margin-bottom:0;}
            & > button{
                width:18.55469vw; height:9.76563vw; font-size:$font_size; font-weight:500; margin-left:0.97656vw; border-radius:$radius;
            }        
        }
    }
}

.modal_header{
    padding:$gutter_md $gutter_md $gutter_md 8.59375vw; background-color:$color_white; border-bottom:0.09766vw solid$border; position:relative; z-index:9;
    & .pop_title{
        line-height:$gutter_md; font-family: $sub_font_family; font-weight: 300; font-size:3.90625vw; color:#222;
    }
    & .btn_pop_close{
        height:3.90625vw; position:absolute; left:3.90625vw; top:50%; margin-top:-2.34375vw;
    }
    &.modal_header01{
        padding:$gutter_md;
        & .btn_pop_close{
            width:3.90625vw; height:3.90625vw; margin-top:- #{$gutter_sm}; left:auto; right:3.90625vw;
            & .ic_pop_close{background-position:-19.53125vw -32.81250vw;}
        }
    }

}

.modal_body{
    padding:7.81250vw $gutter_md;
    &.modal_body01{padding:7.81250vw 0;}
    &.modal_body02{padding:0;}

    & .pop_sub_title{
        font-family: $sub_font_family; font-size:5.07813vw; color:#222;
    }
    & .pop_sub_info{
        line-height:5.85938vw; font-size:3.90625vw; padding-bottom:4.88281vw;
        &.pop_sub_info01{
            font-size:$font_size; color:#888; padding-top:0.97656vw; padding-bottom:$gutter_sm;
        }
    }
    & .pop_sub_title + .search_form_wrap{
        margin-top:4.39453vw;
    }
    & .tit{
        font-size:$font_size;
        @at-root .list_app .tit{
            display:flex; width:calc(100% - 8.78906vw);
            & > .favicon{
                display:block; width:8.00781vw; height:8.00781vw; margin-right:1.95313vw; background-color:#eee; border:0.09766vw solid $font_black; border-radius:50%; overflow:hidden;
                & > img{display:block; width:100%; height:100%;}
            }
            & > strong{display:block; max-width:calc(100% - 9.96094vw); font-size:3.90625vw; font-weight:500; line-height:5.66406vw; padding:1.17188vw 0; word-break:break-all;}
        }
    }
    & .tit_info{
        font-size:$font_size; line-height:4.88281vw; color:$font_darkgray; margin-top:$gutter_sm;
    }
    & .paging{
        padding-bottom:7.81250vw;
    }
    & .desc{
        font-size:3.90625vw; line-height:5.85938vw;
        @at-root .tag_list + .desc{font-size:3.12500vw;}
    }
}

.modal_footer{
    text-align:center; margin-top:$gutter_md;
    @at-root{
        .modal_body .modal_footer{
            
        }
    }
    &.only{
        & > button{width:41.01563vw;}
    }
    & > button{height:11.71875vw; font-size:3.90625vw; font-weight:500;}

}

/* 토픽 출처 */
.modal_body .summary_tit {
    margin-top: 3.41797vw;
    margin-bottom: 2.92969vw;
    & .desc {
        font-family: $sub_font_family;
        font-size:$font_size;
        color: #000;
    }
}

.modal_body .pag_info {
    @at-root .summary_tit .pag_info{
        margin-top:4.88281vw;
        justify-content:normal;
    }
    & span {
        font-size: 3.90625vw;
        line-height: 5.66406vw;
    }
}
.modal_body .summary_info{
    padding:$gutter_md; border:0.09766vw solid $border;
    & > dt, & > dd{
        padding-left:2.44141vw;
    }
    & > dt{
        font-size:3.90625vw; font-weight:600; margin-bottom:2.44141vw; position:relative;
        &:before{
            content:""; position:absolute; left:0; top:50%; width:1.17188vw; height:1.17188vw; margin-top:-0.58594vw; margin-right:1.46484vw; background-color:#333;
        }
    }
    & > dd{
        line-height:5.46875vw; font-size:$font_size; color:$font_darkgray; margin-bottom:5.85938vw; word-break:keep-all;
        &:last-of-type{
            margin-bottom:0;
        }
    }
    & .ability_list{
        & > li{
            align-items:flex-start; margin-bottom:$gutter_xs; padding:$gutter_sm $gutter_md; border:0.09766vw solid $border;
            & > strong, & > span{
            line-height:6.34766vw; color:$color_darkgray;
            }
            & > strong{
            width:16.79688vw; height:6.34766vw; font-size:3.32031vw; margin-right:$gutter_sm; border:0.09766vw solid $color_darkgray; border-radius:6.34766vw; text-align:center;

            }
            & > span{

            }
        }

        
    }
    & .depart_info_list{

        & > li{
            & > strong, & > span{
                display:block;
            }
            & > span{
                padding-left:0.68359vw; margin-bottom:1.17188vw;
            }
        }
        & > strong{
            padding-left:0.68359vw; position:relative;
            &:before{
                content:""; position:absolute; left:0; top:50%; width:0.19531vw; height:0.19531vw; margin-top:-0.09766vw; margin-right:0.48828vw; background-color:#333;
            }
        }
        
    }
}

/* 즐겨찾기 팝업 */
.modal_body .list_app{

}

.site_add_wrap{
    
    & .search_box{
        & .form-control{
            margin-bottom:$gutter_sm;
            &:last-child{margin-bottom:0;}
        }
        &.inquiry_box{
        }
    }
}

/* push 설정 */

.push_wrap{
     & .push_all{
        padding:6.34766vw 8.78906vw 5.37109vw 8.78906vw; border-bottom:0.09766vw solid $border;
        & label{display:block; width:100%; font-size: 4.29688vw; font-weight:500 !important; color:#222; position:relative;}
        & label:before{position:absolute; right:0; top:50%; margin-top:-3.22266vw;}
     }

    & .list_view {
        & .list_cont{
            &.list_cont_box {
                & .push_list{
                    padding:$gutter_md;
                    & > li {
                        margin-bottom: $gutter_md;
                        background-color: #fff;
                        border: 0.09766vw solid $border_light;
                        &:last-child{margin-bottom:0;}
                        & .tit_info{color:#888;}
                        & .topic_box {
                            padding:0 4.88281vw;
                            & .inline_wrap, & .tit_info{padding-left:0; padding-right:0;}
                            & .tit{font-size:4.29688vw; padding-bottom:2.34375vw;}
                            & .tit_info{}
                        }
                        & .topic_list{
                            display:block; border:none; border-top:0.09766vw solid $border_light;
                            & > li{
                                padding:$gutter_md;
                                margin-bottom:$gutter_sm;
                                & .tit{font-size:3.90625vw; padding-bottom:1.36719vw;}
                                & .tit_info{}
                            }
                        }
                    }
                }
            }
        }        
    }
}

/* inquiry */
.inquiry_wrap{
    height:100%; padding-top:7.81250vw;
    & .inquiry_btn{
        margin-top:-7.81250vw; text-align:right;
        & > a{display:inline-block; vertical-align:middle; width:18.55469vw; height:9.76563vw; line-height:9.76563vw; font-weight:500; padding:0; text-align:center;}
    }
    & .list_view{
        & .list_hd{
            padding-top:$gutter_sm; padding-bottom:4.88281vw; border-bottom:none;
        }
        & .inquiry_list{
            overflow:hidden; border-top:0.39063vw solid $border_dark;
            & > li{
                border-bottom:0.09766vw solid $border;
                & .swiper-wrapper{
                    align-items:center;
                    & .swiper-slide{
                        padding:4.39453vw $gutter_sm;
                        &.inquiry_tit{
                            width:100%;
                            & .tit{
                                & > span{font-weight:400;}
                            }
                            & .state{text-align:center;}

                        }
                        &.inquiry_del_btn{
                         width:13.67188vw;
                        }
                    }
                }
                & .inline_wrap{
                    padding:$gutter_md $gutter_sm; 
                    & .tit{
                        & > span, & > strong{display:block;}
                        & > span{font-size:$font_size; color:$font_gray; margin-bottom:$gutter_sm;}
                        & > strong{font-size:4.29688vw; font-weight:500;}
                    }
                    & .state{
                        width:20.50781vw; font-size:$font_size; font-weight:500; color:$font_darkgray;
                    }
                }

            }
        }    

    }
    & .inquiry_box{padding-bottom:1.46484vw;}
    & .inquiry_box textarea{height:39.06250vw; overflow-y:auto; padding:1.46484vw;}
}

/* answer */
.answer_wrap{
    width:100%; min-height:100%; padding:$gutter_sm $gutter_md 7.81250vw $gutter_md; background-color:#fafafa;
    & .answer_box{
        margin-bottom:3.41797vw;
        & > dt{
            font-size:3.90625vw; font-weight:500; padding:5.37109vw 0 3.41797vw 0;
        }

        & > dd{
            & > textarea{
                &.lg{

                }
            }
        }
    }
}

.analysis_area{padding:$gutter_md 0;}
.analysis_list{
    > li{background-color:#fafafa; border:0.09766vw solid #b1b1b1; margin-top:$gutter_sm;}
    > li > p{
        font-size:0; padding:3.41797vw $gutter_md 0.97656vw $gutter_md;
        span, strong{display:inline-block; vertical-align:middle;font-weight:500;}
        span{font-size:3.12500vw; color:#888; margin-right:1.46484vw;}
        strong{font-size:3.90625vw;}
    }
}
.analysis_count{
    padding:2.92969vw $gutter_md; margin-top:- #{$gutter_sm};
     > li{
         @include flex();
         margin-top:$gutter_sm;
         > p{
             font-size:0; margin-right:5.37109vw;
             span, strong{display:inline-block; vertical-align:middle; font-size:$font_size;}
             > span{color:#555; margin-right:0.97656vw;}
             > strong{color:#222; font-weight:500;}
         }
     }
}

.analysis_btn_area{
    @include flex();
    padding:2.92969vw $gutter_md; border-top:0.09766vw solid $border;
    > li{
        margin-right:0.97656vw; position:relative;
        > button{padding: 2.34375vw 2.63672vw; border: 0.09766vw solid $border; border-radius: 1.95313vw; font-size: 3.51563vw; font-weight: 500; background-color: #fff;}
        .mini_popup_wrap{
            display:none;
            &.active{
                display:block;
                .mini_bg{display:block;}
            }
            .mini_popup{
                position:absolute; right:0; top:0; z-index:2010;
                .major_list{
                    background-color:#fff; border: 0.09766vw solid $border; border-radius: 0.97656vw; overflow:hidden; white-space:nowrap;
                    > li{
                        padding:2.34375vw $gutter_md; border-bottom:0.09766vw solid #d4d4d4;
                        &:last-child{border-bottom:none;}
                        span, strong{display:inline-block; vertical-align:middle; font-size:$font_size;}
                        > span{color:#555; }
                        > strong{color:#222; font-weight:500; margin-right:$gutter_sm;}
                    }
                }
                .btn_mini_close{
                    width:3.90625vw; height:3.90625vw; position:absolute; right:0; top:-4.88281vw;
                    > i{background-position:-19.53125vw -36.71875vw;}
                }
                &:after{content:""; width:2.44141vw; height:2.73438vw; background-image:url(../images/icon/ic_sm_tooltip.png); background-repeat:no-repeat; background-position:0 0; background-size:100%; position:absolute; left:50%; bottom:-2.53906vw; margin-left:-1.36719vw;}
            }
            
        }
        .mini_bg{display:none; position: fixed; top: 0; left: 0; z-index: 2000; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.8);}
    }
}
.analysis_btn_area > li{}

/* 채용 관심 키워드 */
.keyword_search_wrap{
    .search_box{
        margin-top:5.37109vw;
        select, input{width:100%; height:9.76563vw;}
        select{margin-bottom:0.97656vw;}
        input{}
    }    
    > button{display:block; width:82.03125vw; height:15.62500vw; font-size:4.68750vw; font-weight:500; color:#fff; margin:5.85938vw auto; background-color:#67b7dd;}
}


.keyword_area01{
    .keyword_box{
        > dt{display:inline-block;}
        > dd{
            padding-top:$gutter_sm;
            .keyword_list{
                > li .btn_delete{
                    width:3.90625vw; height:3.90625vw; margin-left:1.95313vw; margin-top:-0.48828vw;
                    > .ic{background-position:-24.70703vw -36.62109vw;}
                }
            }
        }
    }
    > .all_delete{
        position:absolute; right:3.90625vw; top:5.37109vw; font-size:3.90625vw; color:#000;
        &:after{content: ""; width:15.03906vw; height:0.39063vw; background-color:#000; position:absolute; left:-0.29297vw; bottom:-0.97656vw;}
    }
}

.modal_body{
    .recruit_tbl_wrap{
        border-top:none;
        .recruit_tbl_area{
            padding:0 $gutter_md $gutter_md $gutter_md; background-color:#f5f5f5; border:0.09766vw solid #b1b1b1; 
        }
    }
}

.business_area{
    .pop_sub_info{font-size: 3.51563vw; color: #888; padding: $gutter_sm 0 $gutter_md 0;}
    .inline_wrap{
        padding:$gutter_sm $gutter_md; border:0.09766vw solid $border;
    }
}

/* notofication */

.noti_info{
    padding:3.90625vw; margin-bottom:7.81250vw; background-color:#fafafa;
    > li{
        line-height:5.85938vw; padding-left:2.73438vw; position:relative;
        &:before{content:""; position:absolute; left:0; top:50%; width:0.58594vw; height:0.58594vw; margin-top:-0.29297vw; margin-right:1.95313vw; border:0.09766vw solid #000; border-radius:50%;}
        .ic_noti{width:4.98047vw; height:4.98047vw; background-position:-45.99609vw -40.62500vw; margin-right:1.46484vw;}
    }
}

.noti_view{
    padding:0 $gutter_md;

    @at-root .modal-content .noti_view .btn_filter{
        display:none; position:fixed; left:3.90625vw; right:3.90625vw; bottom:5.85938vw; width:calc(100% - 7.81250vw); margin:0; color:#555;        
    }

    .list_hd{
        border-bottom:none !important; padding-bottom:2.73438vw !important;
        .delete{
            font-weight:500; margin-top:-1.46484vw; position:relative;
            &:after{content: ""; width:12.30469vw; height:0.39063vw; background-color:#555; position:absolute; left:-0.29297vw; bottom:-0.97656vw;}
        }
        .complete{
            font-weight:500; margin-top:-1.46484vw; position:relative;
            &:after{content: ""; width:5.85938vw; height:0.39063vw; background-color:#0054a3; position:absolute; left:0; bottom:-0.97656vw;}
        }
    }

    .noti_list{
        margin:0 -#{$gutter_md}; position:relative;

        > li{
            margin-bottom:3.90625vw;
             .noti_list_hd{
                @include shadow_accodion;
                padding:$gutter_md;
                .noti_date{} 
                .noti_date > span{
                    font-size:3.90625vw; font-weight:500;
                    & + span{margin-left:1.46484vw;}
                }
                a.delete{
                    font-weight:500; position:relative;
                    &:after{content: ""; width:5.85938vw; height:0.39063vw; background-color:#b70000; position:absolute; left:0; bottom:-0.97656vw;}
                }
            }
        }
        

        .noti_sub_list{
            padding:2.73438vw $gutter_md;
            > li{
                padding:4.88281vw 13.67188vw 4.88281vw 4.39453vw; margin-bottom:9.76563vw; background-color:#fff; border:0.09766vw solid #d4d4d4; position:relative;
                .noti_con{
                    strong, span{display:block; line-height:5.85938vw;}
                    span{font-size:3.90625vw; font-weight:400;}
                    strong{font-size:4.29688vw; font-weight:500;}
                }
                .date{color:#888; position:absolute; right:0; bottom:-4.88281vw;}
                > button{
                    position:absolute; right:2.73438vw; top:2.73438vw;
                    &.icon_chatbot{
                        width:6.93359vw; height:6.93359vw;
                        .ic{background-position:-39.06250vw -40.62500vw;}
                    }
                    &.icon_delete{
                        width:8.78906vw; height:8.78906vw;
                        .ic{background-position:-66.50391vw -18.55469vw;}
                    }
                }
            }
        }
    }    
}

.noti_view_type01 {
    .list_hd {
        padding: 5.85938vw 3.90625vw 3.90625vw 3.90625vw !important;
    }
}




.toast{
    width:inherit; max-width:inherit; flex-basis:auto; padding:0; margin-bottom:0 !important; background-color:rgba(0,0,0,0.5); border:none; border-radius:0; position:fixed; left:0; right:0; top:0; bottom:0; z-index:1100;
    & .toast_txt{
        width:82.03125vw; max-width:inherit; flex-basis:auto; font-size:3.90625vw; font-weight:500; padding:3.41797vw; background-color:#fff; border:0.09766vw solid #555; text-align:center; position:fixed; left:8.78906vw; right:8.78906vw; bottom:6.83594vw; z-index:1101;
    }
}

/* alert */
.alert_modal_wrap{min-width:34.17969vw; padding:2.92969vw; background-color:#fff; border:0.09766vw solid $border; border-radius:0.97656vw; -webkit-box-shadow: 0.00000vw 0.00000vw 0.78125vw 0.14648vw rgba(0, 0, 0, 0.1); -moz-box-shadow: 0.00000vw 0.00000vw 0.78125vw 0.14648vw rgba(0, 0, 0, 0.1); box-shadow: 0.00000vw 0.00000vw 0.78125vw 0.14648vw rgba(0, 0, 0, 0.1);}
.alert_modal_wrap .modal-content{padding:0;}
.alert_modal_wrap .alert_txt{padding:1.95313vw 0 3.90625vw 0; text-align:center;}
.alert_modal_wrap .modal-footer{justify-content:center;}
.alert_modal_wrap .modal-footer:not(.only){padding:0 0 0 0.97656vw;}
.alert_modal_wrap .modal-footer.only{padding:0;}
.alert_modal_wrap .modal-footer > button{width:13.28125vw; font-weight:500;}