@charset "UTF-8";

.wrapper { width: 100vw; height: 100vh; }
/* sign-in > chatbot_box */
.chatbot_box.signin { display: flex; justify-content: center; align-items: center; background-color: #f9f9f9; }
.chatbot_box.signin .signin_message { font-size: 18px; color: #222; font-weight: 600; }

/* sign-in */
.signin_wrap { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.signin_wrap .signin_form { width: 555px; height: 532px; display: flex; flex-direction: column; align-items: center; border: 1px solid #d4d4d4; }
.signin_wrap .signin_form .logo { width: 154px; height: 74px; display: inline-block; margin: 48px 0 32px; padding: 0; position: relative; background: url(../images/logo_dku.png) no-repeat 0 0 / 100% auto; } /* 기존 것 사용시 깨져서 새로 만듬 > 기존: background: url(../images/icon.png) -332px 0 / 830px auto;*/
.signin_wrap .signin_form .logo::before { content: ''; width: 400px; height: 4px; display: inline-block; background-color: #1a5c9e; position: absolute; bottom: -32px; left: -123px; }
.signin_wrap .signin_form > button, .signin_wrap .signin_form > input { width: 400px; height: 60px; font-size: 18px; color: #fff; font-weight: bold; }
.signin_wrap .signin_form > input { height: 50px; color: #444; font-weight: 400; margin: 28px 0 20px; padding: 0 20px; border: 1px solid #e8e8e8; }
.signin_wrap .signin_form > button:nth-of-type(1) { background-color: #48b9e1; margin: 32px 0 24px; }
.signin_wrap .signin_form > button:nth-of-type(2) { background-color: #1a5c9e; }
.signin_wrap .signin_form > span { font-size: 18px; color: #222; font-weight: bold; }

/* sign-up */
.signup_wrap {
  @include flex;
  flex-direction: column; 
  position: relative;
  min-height: 100vh;
  input::placeholder { color: #a9a9a9; }
  .signup_header {
    width: 100vw;
    height: $signup_header_height;
    border-bottom: 1px solid $border; 
    padding: $gutter_md 60px;
    text-align: right;
    * { font-size: 44px; font-family: $sub_font_family; }
    .current { color: $color_primary; }
    .total { color: #555; }
  }
  .signup_contents { 
    width: 100vw;
    height: calc(100vh - #{$signup_header_height} - #{$signup_footer_height});
    flex-grow: 1; 
    padding: $gutter_md $gutter_md $signup_footer_height;
    overflow-y: auto;
  }
  .signup_footer {
    @include shadow_gnb;
    width: 100vw;
    height: $signup_footer_height;
    .btn_wrap { 
      @include flex;
      justify-content: space-between; 
      align-items: center; 
      .btn {
        height: $signup_footer_height;
        font-size: 44px; 
        flex-grow: 1;
        &:nth-child(2) { width: 704px; }       
      }
    }
  }
  .btn {
    display: inline-block; 
    font-size: 40px; 
    font-weight: 600; 
    & > span { vertical-align: middle; font-size: 40px; }
    &.btn_like,
    &.btn_unlike {
      width: 100%;
      height: 120px;
      border-radius: 0;
      border: 1px solid #0087f9;
      color: #0087f9;
      margin-bottom: $gutter_sm;
      .ic {
        width: 64px;
        height: 64px;
        display: inline-block;
        margin-right: $gutter_sm;
        vertical-align: middle;
        background: url(../images/icons_m.png) no-repeat -64px -776px / 97.65625vw auto;
      }
    }
    &.btn_unlike {
      border: 1px solid #e62122;
      color: #e62122;
      .ic { background-position-x: -192px; }
    }
    &.btn_submit_line,
    &.btn_default_line { width: 100%; height: 120px; margin-bottom: $gutter_sm; }
  }
  .btn_default { border: 1px solid #d4d4d4; background-color: #fff; color: #222; }
  .btn_submit { border: 1px solid #0054a3; background-color: #0054a3; color: #fff; }
  .btn_default_line { border: 1px solid #555; background-color: #fff; color: #555; }
  .btn_submit_line { border: 1px solid #0087f9; background-color: #fff; color: #0087f9; }
}
.signup_contents { 
  .txt { 
    font-size: 44px; 
    color: #222; 
    line-height: 1.72; 
    small { font-size: 44px; color: #888; display: inline-block; }
    .text_oblique { font-size: 52px; font-style: oblique; font-weight: 600; }
    strong.text_oblique, & strong.text_blue { font-weight: 600; }
    .text_blue { font-size: 52px; color: #0054a3; font-weight: 600; }
    .text_bold { font-weight: 600; }
    & + .txt { margin-top: 80px; }
    & + .btn_wrap { margin-top: 58px; }
    & + .word_wrap { margin-top: 90px; }
    & + .search_form_wrap { margin-top: 100px; }
    & + .search_form_wrap + .txt { margin-top: 60px; }
    &.txt_lg { font-size: 52px; }
  }
  .desc { 
    color: #999; 
    font-size: 40px; 
    line-height: 1.55;   
    text-align: right;  
    position: absolute; right: $gutter_md; bottom: calc(#{$signup_footer_height} + #{$gutter_md});
    a { font-size: 40px; color: #000; text-decoration: underline; }
  }
  .entry_message { font-size: 52px; font-weight: 600; }
  .search_form_wrap {
    .search_form { 
      margin: 0; 
      & + .desc { margin-top: 50px; }
      & + .word_wrap { margin-top: $gutter_md; }
    }
    .desc { position: inherit; margin-bottom: $gutter_md; } 
    & + .word_wrap { margin-top: $gutter_md; }
  }
  .word_wrap {
    margin: 0 -#{$gutter_xs};
    & + .txt { margin-top: $gutter_md; }
    .word {
      display: inline-block;
      padding: 20px 70px;
      margin: $gutter_xs;
      font-size: 40px;
      font-weight: 600;
      color: #333;
      border: 2px solid #333;
      border-radius: 70px;
      .btn_close {
        width: 24px;
        height: 24px;
        display: inline-block;
        overflow: hidden;
        margin-left: 20px;
        margin-right: -20px;
        text-indent: -999px;
        background-color: transparent;
        background: url(../images/icons_m.png) no-repeat -160px -376px / 97.65625vw auto;
        background-repeat: no-repeat;
      }
    }//.word
  }//.word_wrap
}
.ranking {
  margin-top: $gutter_md;
  li {
    font-size: 40px;
    font-weight: 600;
    color: #333;
    line-height: 34px;
    padding: $gutter_sm 0;
    .num {
      width: 86px;
      height: 86px;
      display: inline-block;
      margin-right: 25px;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      line-height: 86px;
      color: #fff;
      background-color: #aeaeae;
      &.red { background-color: #f17164; }
    }
  }
}
.inner_box {
  width: 100%;
  height: auto;
  display: inline-block;
  border: 1px solid #d4d4d4;
  background-color: #f9f9f9;
  border-radius: 3px;
  padding: 40px;
  margin: 40px 0;
  &.img {
    width: 540px;
    height: 540px;
    margin: 0 0 50px 0;
    padding: 0;
  }
  &.text {
    & > dl {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 40px;
      line-height: 120px;
      border-top: 1px solid $border;
      dt, dd { border-bottom: 1px solid $border; }
      dt {
        width: calc(100% - 200px);
        font-weight: 500; 
      }
      dd {
        width: 200px;
        font-weight: 600;
        text-align: left;
      }
    }
  }
  .tbl {
    width: calc(100vw - 162px);
    max-width: calc(100vw - 162px); 
    margin-top: -30px;
    .left { text-align: left !important; }
    th, td {
      height: 120px;
      font-size: 40px;
      text-align: center;
      border-bottom: 1px solid $border;
    }
    th { border-color: $border_dark; }
    .txt {
      max-width: 657px;
      font-size: 40px;
      color: #333;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
    .date {
      width: 200px;
      display: inline-block;
      font-size: 40px;
      color: #333;
      font-weight: 600;
    }
  }
}
.signup_contents {
  .chk_list_wrap {
    margin: 80px 0 $gutter_md;
    & > .txt { margin-bottom: 30px; }
    .chk_list {
      width: 100%;
      height: 120px;
      font-size: 40px;
      font-weight: 500;
      border: 1px solid #d4d4d4;
      border-radius: 3px;
      padding: 0 $gutter_md;
      margin-bottom: $gutter_sm;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.signup_contents.entry {
  width: 100vw;
  height: calc(100vh - $signup_footer_height); 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/entry_bg.png) no-repeat center center / 454px auto;
}
.feedback_form_wrap {
  text-align: right;
  margin-top: 80px;
  .a_link { font-size: 40px; color: #000; text-decoration: underline; }
  .feedback_form {
    display: none;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    input { width: 100%; }
    .btn_default_line { width: 420px; margin-top: 30px; }
  }
}
.toast .toast_txt.center { bottom: calc(50% - 62px); }















/*----------------------------------------------------- Campus Life -----------------------------------------------------*/
.btn_campuslife {
  @include shadow_gnb;
  width: 140px;
  height: 140px; 
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: fixed; right: 40px; bottom: 290px;
  z-index: 999;
  .ic { background-position: -681px -336px; }
}
.modal-content.camp_wrap {
  @include flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column-reverse;
  background-color: transparent;
  padding: 0;
  .search_form_wrap {
    .search_form {
      border-bottom: 0.58594vw solid #fff;
      input { background: transparent; color: #fff; }
      input::placeholder { color: #fff; }
      .ic_voice { 
        width: 43px;
        height: 66px;
        background-position: -622px -336px; 
      }
    }
    .txt_sm { 
      width: calc(100% - 8.78906vw*2);
      margin: $gutter_sm 8.78906vw;
    }
  }
  .modal_header {
    height: 604px;
    padding: 0;
    position: inherit;
    background-color: transparent;
    .camp_menu_wrap {
      @include flex;
      width: 100vw;
      height: 220px; 
      flex-direction: row;
      align-items: center;
      padding: 0 $gutter_md;
      position: fixed; bottom: 250px; left: 0;
      .camp_menu {
        width: calc(100% - 140px);
        & > li {
          display: inline-block;
          margin: 8px 6px;
          & > a {
            @include flex;
            width: 250px;
            height: 100px;
            align-items: center;
            padding: 0 $gutter_sm;
            border-radius: 10px;
            background-color: #f9f9f9;         
            .ic {
              width: 60px;
              height: 62px;
              margin-right: 3px;
              &.ic_time { background-position: 0 -633px; }
              &.ic_bell { background-position: -60px -633px; }
              &.ic_cap { background-position: -120px -633px; }
              &.ic_book { background-position: -180px -633px; }
              &.ic_weather { background-position: -240px -633px; }
              &.ic_search_sm { background-position: -300px -633px; }
            }
            span { font-size: 32px; color: #555; }
          }
          &.active {
            & > a { 
              span { color: #48b9e1; font-weight: 500; }
              .ic { background-position-y: -695px; }
            }
          }
        }
      }
      .btn_pop_close {
        width: 140px;
        height: 140px;
        margin: 0;
        position: initial;
        display: inline-block;
        background: #fff;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1000;
        .ic { background-position: -821px -336px; }
      }
    }
  }
  .modal_body {
    width: 100vw;
    height: calc(100vh - 604px);
    padding-top: 165px;
  }
}
.modal-content.camp_wrap {
  color: #fff;
  .txt { 
    font-size: 40px; 
    &.txt_sm { 
      font-size: 29px; //글씨 떨어져서 1px줄임
      .ic { margin-right: 8px; } 
      .ic, span { vertical-align: middle; }
    }
  }
  .filter_list {
    margin: 50px -0.48828vw 130px;
    & > li {
      & > a {
        background-color: #555;
        color: rgba(255, 255, 255, .5);
      }
      &.active > a {
        background-color: #fff;
        color: #222;
      }
    }
  }
}


// 캠퍼스라이프 팝업
.camp_pop_cont {
  & > .tit:first-child {
    font-size: 36px;
    font-weight: 400;
    color: #555;
    border-bottom: 4px solid #666;
    padding-bottom: 30px;
    & > .text_blue { 
      font-family: $sub_font_family; 
      font-size: 46px;
      text-decoration: underline;
      margin-right: $gutter_xs;
    }
  }
  .summary_info.lg {
    margin: 0;
    padding: $gutter_md 0;
    & > dt::before { display: none; }
    dt, dd { padding-left: $gutter_xs; }
    dd { 
      border-bottom: 1px solid $border; 
      padding-bottom: 60px;
      margin-bottom: 40px;
      &:last-of-type {
        border-bottom: transparent;
        margin-bottom: 0;
        padding-bottom: $gutter_sm;
      }
    }
  }//.summary_info
  .list_view .label_round_wrap {
    justify-content: start;
    & > p:first-child { 
      width: 270px; 
      .label_round { 
        font-size: 30px;
        margin: 0 $gutter_md; 
        width: 190px; //디자인이 고정값임 설계서 기준 내용으로 할 경우 잘려서 조금 더 넓게 변경 
      }
    }
    & > a { 
      width: calc(100% - 270px); 
      .tit { 
        font-size: 36px; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
      .tit_info { font-size: 32px; }
    } 
  }//.list_view .label_round_wrap
  .login_shortcut {
    text-align: center;
    margin-top: 100px;
    .desc { 
      font-size: 32px; 
      color: #555; 
      line-height: 1.875; 
    }
    .a_btn_white { 
      width: calc(100% - 100px); 
      border-radius: 0; 
      margin: 50px; 
      font-size: 40px;
    }
  }//.login_shortcut
  .list_view .surrounding_info {
    text-align: right;
    .tit { text-align: left; font-size: 36px; }
    .tit_info { display: block; text-align: left; font-size: 32px; }
    .a_btn.a_btn_white {
      width: 500px;
      height: 100px;
      padding: 0;
      margin: 50px 0 20px;
      color: #555;
      font-size: 36px;
    }
  }//.list_view .surrounding_info
  .facility_info {
    @include flex;
    flex-wrap: wrap;
    align-content: center;
    margin: $gutter_md 0;
    dt, dd { 
      min-height: 94px; 
      line-height: 94px; 
      font-size: 36px;
      padding: 0 $gutter_xs; 
    }
    dt { width: 235px; }
    dd { width: calc(100% - 235px); }
    .a_btn_white { 
      width: 320px;
      height: 90px;
      font-size: 36px;
      font-weight: 400;
      color: #555;
      border-radius: 0;
      padding: 0;
      line-height: initial;
    }
  }//.facility_info
}
//캠퍼스 음성검색 팝업
.modal.voice_alert {
  .modal-dialog {
    @include flex;
    justify-content: center;
    align-items: center;
    .modal-content { 
      width: 750px;
      height: 400px;
      padding: 0;
      border-radius: $radius;
      overflow: hidden;
      .modal_header { position: initial; }
      .modal_body {
        @include flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        .btn_pop_close {
          position: absolute; top: $gutter_md; right: $gutter_md;
          .ic { background-position: -19.53125vw -32.81250vw; }
        }
        .tit { font-size: 44px; font-family: $sub_font_family; font-weight: 400; }
        .desc { font-size: 32px; color: #555; text-align: center; }
        .tit + .desc { margin-top: 50px; }
      }
    }
  }
}
.modal-content.voice_alert {

}
.text_green { color: #3b991a; }
.campuslife_body .modal-backdrop.show { 
  opacity: .8; 
  & + .modal-backdrop.show { opacity: 0; }
}
