@charset "utf-8";

@import "fonts", "var", "reset";

/* ------------------------------------------------------- COMMON > ICONS ------------------------------------------------------- */
.ic {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url(../images/icons_m.png) no-repeat 0 0 / 97.65625vw auto;
  text-indent: -1000vw;
  &.alert { background-position: -13.86719vw 0; }
  &.logout { background-position: -19.53125vw 0; }
  &.selectbox { background-position: -17.57813vw -24.02344vw; }
  &.search { background-position: -26.36719vw -23.92578vw; }
}
.icon_chk_wrap {
  position: relative;
  .icon_chk {
    position: absolute; width: 0.09766vw; height: 0.09766vw; padding: 0; margin: -0.09766vw; overflow: hidden; clip:rect(0,0,0,0); border: 0;
    &.icon_notxt + label{font-size: 0;}
    &.icon_chk + label{display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-weight:normal; margin-bottom:0;}
    &.icon_chk + label:before{content: ''; display: inline-block; text-align: center; vertical-align: middle; background-image:url(../images/icons_m.png); background-size: 97.65625vw auto; background-repeat:no-repeat;}
    &.icon_chk_use + label:before{width:11.91406vw; height:6.44531vw; background-position: -45.89844vw -5.66406vw;}
    &.icon_chk_use:checked + label:before{background-position:-45.89844vw -12.10938vw;}
  }
}
/* ------------------------------------------------------- COMMON > LAYOUT ------------------------------------------------------- */
.header {
  @include flex;
  width: 100vw;
  height: $header_height;
  justify-content: space-between;
  align-items: center;
  padding: 0 $gutter_md;
  border-bottom: 0.09766vw solid $border;
  z-index: 999;
  h1.logo {
    width: 13.86719vw;
    height: 5.66406vw;
    display: inline-block;
  }
  .location {
    & > a {
      width: 5.66406vw;
      height: 5.66406vw;
      display: inline-block;
    }
  }
}
.container-wrap {
  @include flex;
  width: 100vw;
  height: calc(100vh - #{$header_height} - #{$footer_height});
  position: relative;
  z-index: 998;
  .container {
    max-width: unset !important;
    padding: 0 !important;
    margin: 0 !important;
    & > .nav_select_swiper {
      width: 100vw;
      height: $nav_height;
      border-bottom: 0.09766vw solid $border;
      padding: 0 $gutter_md;
      z-index: 997;
      .sub_menu {
        & > li {
          display: inline-block;
          position: relative;
          flex-shrink: 1;
          a {
            display: inline-block;
            color: $font_lightgray;
            font-size: 3.90625vw;
            font-weight: 400;
            line-height: $nav_height;
            padding: 0 2.44141vw;
          }
          &.active {
            a {
              color: $font_black;
              font-weight: 600;
              &::before {
                content: '';
                width: 1.56250vw;
                height: 1.56250vw;
                display: inline-block;
                border-radius: 50%;
                background-color: $color_primary;
                position: absolute; top: 50%; left: 0;
                margin-top: -0.78125vw;
              }
            }
          }
        }
      }
    }
    & > .contents {
      width: 100vw;
      height: calc(100vh - #{$header_height} - #{$footer_height} - #{$nav_height});
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #fff;
      padding: 0 $gutter_md;
    }
  }
}
.footer {
  @include shadow_footer;
  width: 100vw; 
  height: $footer_height;
  position: relative;
  text-align: center;
  z-index: 999;
  & > .footer_nav {
    width: calc(100vw - #{$gutter_md}*2);
    height: 100%;
    margin: 0 auto;
    .main_menu {
      @include flex;
      height: 100%;      
      li {
        width: 20%;
        height: 100%;
        flex-shrink: 0;
        a {
          height: 100%;
          display: block;
          padding-top: 13.08594vw;
          font-size: 3.12500vw;
          font-weight: 600;
          color: $font_gray;
          position: relative;
          &::before {
            content: '';
            width: 9.17969vw;
            height: 9.17969vw;
            display: inline-block;
            position: absolute; top: $gutter_sm; left: calc(50% - 9.17969vw/2); 
            background: url(../images/icons_m.png) no-repeat 0 -5.76172vw / 97.65625vw auto;
            @at-root .my_desk a::before { background-position-x: 0 !important; }
            @at-root .department_lounge a::before { background-position-x: -9.17969vw !important; }
            @at-root .subject a::before { background-position-x: -18.35938vw !important; }
            @at-root .recruit a::before { background-position-x: -27.53906vw !important; }
            @at-root .chatbot a::before { background-position-x: -36.71875vw !important; }
          }
        }
        &.active {
          a {
            color: $color_primary;
            &::before { background-position-y: -14.94141vw !important; }
          }
        }
      }
    }
  }
}
/* ------------------------------------------------------- COMMON > FONTS ------------------------------------------------------- */
.tit {
  color: #333;
  font-size: 3.90625vw;
  font-weight: 500;
  line-height: 1.25; //50px;
  @at-root .cont_hd > .tit { 
    font-weight: 400;
    line-height: 1.5; 
    margin: $gutter_md 0 $gutter_sm;
  } //60px; 
  @at-root .list_hd .tit {    
    font-family: $sub_font_family;
    font-size: 5.07813vw;
    font-weight: 500;
    color: #000;
  }
  @at-root h4.tit {}
  & > small {
  }
}
.desc {
  color: #555;  
  line-height: 1.8;
  font-size: 2.73438vw;
  @at-root .list .desc { 
    line-height: 1.78;
  }
  @at-root .list_hd .desc {
    font-family: $sub_font_family;
    font-size: 3.51563vw; //36px;
    font-weight: 500;
    color: 000;
  }
}
.text_blue {
  color: $color_primary !important;
  @at-root strong.text_blue {}
}
/* ------------------------------------------------------- COMMON > CLASS ------------------------------------------------------- */
.inline_wrap {
  @include flex;
	align-items: center;
	justify-content: space-between;
  &.justify_start {
    justify-content: start;
  }
	.form-group { 
		flex-grow: 1;
  }
	button { 
		flex: 0 0 auto;
		margin-left: .75rem;
  }
  &.align_top {
    align-items: flex-start;
  }
}
.list_view {
  @include flex;
  flex-direction: column;   
  .list_hd {
    @include flex; 
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.19531vw solid $border_light;
    padding: 1.17188vw 0;
    & > div {      
      * { display: inline-block; }
      .tit{ margin-right: 1.56250vw; }
      .btn {
        width: 9.76563vw;
        height: 9.76563vw;
        padding: 0.48828vw;
        display: inline-block;
        border: 0.09766vw solid $border;
      }
    } 
  }
  .list_cont {
    .list {      
      & > li {
        padding: $gutter_md 0;
        border-bottom: 0.09766vw solid #ddd;
        & > div {
          margin-bottom: $gutter_sm;
        }
        .desc { }
      }
      .tag_list {
        & > li {
          display: inline-block;
          margin: 0 0.48828vw;
          & > a {
            padding: 1.46484vw $gutter_md;
            border: 0.09766vw solid $border;
            border-radius: 6.34766vw;
            font-size: 3.12500vw;
            font-weight: 600;
            &.subject { border-color: $color_subject; color: $color_subject; }
            &.nonsubject { border-color: $color_nonsubject; color: $color_nonsubject; }
            &.recruit { border-color: $color_recruit; color: $color_recruit; }
          }
        }
        & + .desc { margin-left: 2.44141vw; }
      }
    }
  }
  .list_ft {
  }
}
/* ------------------------------------------------------- COMMON > BUTTON ------------------------------------------------------- */
.btn {
  background-color: transparent;
  border: 0.09766vw solid transparent;
    &.btn_primary{color:$color_white;}
    &.btn_primary01{background-color: $color_primary; border-color: $color_primary;}
    &.btn_tertiary{color:$font_gray; background-color: $color_tertiary; border-color: $color_tertiary;}
}
.a_btn {
  background-color: transparent;
  border: 0.09766vw solid transparent;
  &.a_btn_white{color:$font_darkgray; background-color:$color_white; border-color:$border;}
  &.a_btn_gray{color:$color_white; background-color:$color_darkgray; border-color:$color_darkgray;}
  &.a_btn_sky{color:$color_sky; background-color:$color_white; border-color:$color_sky;}
  &.a_btn_red{color:$color_white; background-color:$color_red; border-color:$color_red;}
  &.a_btn_pink{color:$color_white; background-color:$color_pink; border-color:$color_pink;}
}
/* ------------------------------------------------------- COMMON > SEARCH ------------------------------------------------------- */
.search_form_wrap {
  margin: 5.27344vw 0 7.22656vw; //54px 0 74px 기준으로 우선 잡고 나중에 공통 찾기 
  .search_form {
    display: flex; 
    border-bottom: 0.58594vw solid #222;
    margin: 0 8.78906vw;
    input::-webkit-input-placeholder, input::-moz-input-placeholder, input::-o-input-placeholder, input::-ms-input-placeholder { color: #999; opacity: 1; }
    input {
      width: calc(100% - 8.20313vw);
      font-size: 3.90625vw;
    }
    .btn {
      width: 8.20313vw;
      height: 8.20313vw;
      display: inline-block;
      padding: $gutter_xs
    }
  }
  .desc { }
}
/* ------------------------------------------------------- TOPIC ------------------------------------------------------- */
.topic_area {
  .topic_box {
    height: 45.89844vw;
    .topic_count {
      font-size: 3.12500vw;
      line-height: 1.2;
      color: #fff;
      & > span { display: block; }
      & > strong {
        font-size: 5.07813vw; 
        font-weight: 600;
      }
    }
  }
}
.topic_info {
  border: 0.09766vw solid $border;
  border-radius: $radius;
  padding: 2.92969vw $gutter_md;
  margin: $gutter_sm 0;
  li {
    font-size: 3.12500vw;
    line-height: 1.875;
    & > strong {
      width: 30.27344vw;
      display: inline-block;
      &::before {
        content: '';
        display: inline-block; 
        vertical-align: middle; 
        width: 0.78125vw; 
        height: 0.78125vw; 
        margin-right: $gutter_xs; 
        margin-top: -0.39063vw; 
        background-color: #333; 
        border-radius: 50%;
      }
    }
    & > span {
      width: calc(100% - 30.27344vw); 
      font-style: italic;
      color: #555555;
    }
  }
  & + .search_form_wrap { margin-top: 5.27344vw; } //공통미지정
}
.topic_state {
  text-align: right;
  margin: $gutter_sm 0;
  * { font-size: 3.12500vw; }
  & > strong {
    color: #999;
    margin-right: $gutter_xs;
    line-height: 6.64063vw;
    &.active { color: $color_primary; }
  }
  & > button {
    width: 10.93750vw;
    height: 6.64063vw;
    color: #fff;
    font-weight: 500;
    background-color: #999;
    border-radius: 6.64063vw;
    &.active { background-color: $color_primary; }
  }
}
