@charset "utf-8";

@import "fonts", "var", "reset", "popup", "accordion";

/* ------------------------------------------------------- COMMON > ICONS ------------------------------------------------------- */
.ic {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url(../images/icons_m.png) no-repeat 0 0 / 97.65625vw auto;
  text-indent: -1000vw;
  &.alert { background-position: -13.99vw 0; }
  &.logout { background-position: -19.53125vw 0; }
  &.selectbox { background-position: -17.57813vw -24.02344vw; }
  &.search { background-position: -26.36719vw -23.92578vw; }
  &.pagination_prev { background-position: 0 -24.02344vw; }
  &.pagination_next { background-position: -8.78906vw -24.02344vw; }
  &.ic_pop_close {width: $gutter_md; height: $gutter_md; background-position: 0 -32.81250vw;}
  &.ic_info{width:5.66406vw; height:5.66406vw; margin-right:1.46484vw; background-position:-25.19531vw 0;}
  &.major_lg { background-position: -20.21484vw -40.62500vw; }
  &.toggle_open { background-position: -37.50000vw -24.02344vw; }
  &.toggle_close { background-position: -42.87109vw -24.02344vw; }
}
.ic_before{
  position:relative;
    &:before{
      content:""; display:inline-block; vertical-align:middle; background-image:url(../images/icons_m.png); background-repeat: no-repeat; background-position:0 0; background-size:97.65625vw auto;        
      @at-root .ic_info_lg:before{width:10.74219vw; height:10.74219vw; background-position:-57.71484vw -5.66406vw;}
    }       
}
.ic_after{
  position:relative;
    &:after{
      content:""; display:inline-block; vertical-align:middle; background-image:url(../images/icons_m.png); background-repeat: no-repeat; background-position:0 0; background-size:97.65625vw auto;

      @at-root .ic_toggle:after{width:$gutter_md; height:$gutter_md; background-position:-11.71875vw -32.81250vw; margin-left:$gutter_sm;}
      @at-root .ic_toggle.active:after{background-position:-11.71875vw -36.71875vw;}
    }
}
.icon_chk_wrap {
  position: relative;
  .icon_chk {
    position: absolute; width: 0.09766vw; height: 0.09766vw; padding: 0; margin: -0.09766vw; overflow: hidden; clip:rect(0,0,0,0); border: 0;
    &.icon_notxt + label{font-size: 0;}
    &.icon_chk + label{display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-weight:normal; margin-bottom:0;}
    &.icon_chk + label:before{content: ''; display: inline-block; text-align: center; vertical-align: middle; background-image:url(../images/icons_m.png); background-size: 97.65625vw auto; background-repeat:no-repeat;}
    &.icon_chk_use + label:before{width:11.91406vw; height:6.44531vw; background-position: -45.89844vw -5.66406vw;}
    &.icon_chk_use:checked + label:before{background-position:-45.89844vw -12.10938vw;}
  }
}

/* ------------------------------------------------------- COMMON > LAYOUT ------------------------------------------------------- */
.header {
  @include flex;
  width: 100vw;
  height: $header_height;
  justify-content: space-between;
  align-items: center;
  padding: 0 $gutter_md;
  border-bottom: 0.09766vw solid $border;
  z-index: 999;
  h1.logo {
    width: 13.86719vw;
    height: 5.66406vw;
    display: inline-block;
  }
  .location {
    & > a {
      width: 5.66406vw;
      height: 5.66406vw;
      display: inline-block;
    }
  }
}
.container-wrap {
  @include flex;
  width: 100vw;
  height: calc(100vh - #{$header_height} - #{$footer_height});
  position: relative;
  z-index: 998;
  .container {
    max-width: unset !important;
    padding: 0 !important;
    margin: 0 !important;
    & > .nav_select_swiper {
      width: 100vw;
      height: $nav_height;
      border-bottom: 0.09766vw solid $border;
      padding: 0 $gutter_md;
      z-index: 997;
      .sub_menu {
        & > li {
          display: inline-block;
          position: relative;
          flex-shrink: 1;
          a {
            display: inline-block;
            color: $font_lightgray;
            font-size: 3.90625vw;
            font-weight: 400;
            line-height: $nav_height;
            padding: 0 2.44141vw;
          }
          &.active {
            a {
              color: $font_black;
              font-weight: 600;
              &::before {
                content: '';
                width: 1.56250vw;
                height: 1.56250vw;
                display: inline-block;
                border-radius: 50%;
                background-color: $color_primary;
                position: absolute; top: 50%; left: 0;
                margin-top: -0.78125vw;
              }
            }
          }
        }
      }
    }
    & > .contents {
      width: 100vw;
      height: calc(100vh - #{$header_height} - #{$footer_height} - #{$nav_height});
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #fff;
      padding: 0 $gutter_md;
    }
  }
}
.footer {
  @include shadow_gnb;
  width: 100vw; 
  height: $footer_height;
  position: relative;
  text-align: center;
  z-index: 999;
  & > .footer_nav {
    width: calc(100vw - #{$gutter_md}*2);
    height: 100%;
    margin: 0 auto;
    .main_menu {
      @include flex;
      height: 100%;      
      li {
        width: 20%;
        height: 100%;
        flex-shrink: 0;
        a {
          height: 100%;
          display: block;
          padding-top: 13.08594vw;
          font-size: 3.12500vw;
          font-weight: 600;
          color: $font_gray;
          position: relative;
          &::before {
            content: '';
            width: 9.17969vw;
            height: 9.17969vw;
            display: inline-block;
            position: absolute; top: $gutter_sm; left: calc(50% - 9.17969vw/2); 
            background: url(../images/icons_m.png) no-repeat 0 -5.76172vw / 97.65625vw auto;
            @at-root .my_desk a::before { background-position-x: 0 !important; }
            @at-root .department_lounge a::before { background-position-x: -9.17969vw !important; }
            @at-root .subject a::before { background-position-x: -18.35938vw !important; }
            @at-root .recruit a::before { background-position-x: -27.53906vw !important; }
            @at-root .chatbot a::before { background-position-x: -36.71875vw !important; }
          }
        }
        &.active {
          a {
            color: $color_primary;
            &::before { background-position-y: -14.94141vw !important; }
          }
        }
      }
    }
  }
}

/* ------------------------------------------------------- COMMON > FONTS ------------------------------------------------------- */
.tit {
  color: #333;
  font-size: 3.90625vw;
  font-weight: 500;
  line-height: 1.25;
  @at-root .cont_hd > .tit { 
    font-weight: 400;
    line-height: 1.5; 
    margin: $gutter_md 0 $gutter_sm; 
    & + button { margin-top: $gutter_sm; }
  }
  @at-root .list_hd .tit {
    font-family: $sub_font_family;
    font-size: 5.07813vw;
    font-weight: 400;
    color: #000;
  }
}
.desc {
  color: #555;  
  line-height: 1.8;
  font-size: 2.73438vw;
  @at-root .list .desc { 
    line-height: 1.78;
  }
  @at-root .list_hd .desc, .total {
    font-family: $sub_font_family;
    font-size: 3.51563vw; //36px;
    color: #000;
    font-weight: 400;
  }
}
.text_blue { color: $color_primary !important; }

/* ------------------------------------------------------- COMMON > CLASS ------------------------------------------------------- */
.inline_wrap {
  @include flex;
	align-items: center;
	justify-content: space-between;
  &.justify_start {
    justify-content: start;
  }
	.form-group { 
		flex-grow: 1;
  }
	button { 
		flex: 0 0 auto;
		margin-left: .75rem;
  }
  &.align_top {
    align-items: flex-start;
  }
  &.topic_btn_wrap {
    padding: $gutter_md;
    margin: 0 $gutter_md !important;
    border-top: 0.09766vw solid $border;
    .topic_btn {
      padding: 0 !important;
      border: none !important;
    }
    & + .topic_list_wrap {
      margin: 0 $gutter_md;
      border: 0.09766vw solid #d1d1d1;
      border-top-width: 0.19531vw;
    }
  }
}
.list_view {
  @include flex;
  flex-direction: column;   
  .list_hd {
    @include flex; 
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.19531vw solid $border_light;
    padding: 1.17188vw 0;
    & > div {      
      * { display: inline-block; }
      .tit{ margin-right: 1.56250vw; }
      .btn {
        width: 9.76563vw;
        height: 9.76563vw;
        padding: 0.48828vw;
        display: inline-block;
        border: 0.09766vw solid $border;
        &.active {
          .ic.selectbox { background-position: 0 -47.07031vw; }
        }
      }
    } 
  }
  .list_cont {
    .list {   
      & > li {
        padding: $gutter_md 0;
        border-bottom: 0.09766vw solid $border;
        &:last-child { border-bottom: 0.19531vw solid $border_light; }
        & > div { 
          margin-bottom: $gutter_sm; 
          &:last-child { margin-bottom: 0; }
        }
      }
      .tag_list {
        & > li {
          display: inline-block;
          margin: 0 0.48828vw;
          &:first-child { margin-left: 0; }
          & > a {
            padding: 1.46484vw $gutter_md;
            border: 0.09766vw solid $border;
            border-radius: 6.34766vw;
            font-size: 3.12500vw;
            font-weight: 600;
            display: block;
            &.subject { border-color: $color_subject; color: $color_subject; }
            &.nonsubject { border-color: $color_nonsubject; color: $color_nonsubject; }
            &.recruit { border-color: $color_recruit; color: $color_recruit; }
          }
        }
        & + .desc { margin-left: 2.44141vw; }
      }
    }

    &.list_cont_box{
      .list{
        & > li{
          padding: 0 ; margin-bottom:5.37109vw;
          &:last-child{
              margin-bottom:0;
          }
          & .tit{
            padding-bottom:$gutter_sm;
          }
          & .tit_info{
            margin-top:0;
            @at-root .topic_box .tit_info{color:#888; padding:0 $gutter_xs $gutter_md $gutter_xs;}
            & + .tag_btn_list { margin-top: 0; margin-bottom: $gutter_md; }
          }
            .topic_box{
                padding:0 $gutter_sm; margin-bottom:0;
                & > .inline_wrap{
                  padding:5.85938vw $gutter_xs 0 $gutter_xs;
                }
            }
            .topic_btn{
              padding:$gutter_md $gutter_xs 4.39453vw $gutter_xs; border-top:0.09766vw solid $border;
                & strong{
                  display:inline-block; font-size: 3.90625vw; padding-bottom:0.48828vw; border-bottom:0.29297vw solid $color_primary;
                }
            }
            .topic_list {
              padding:4.88281vw $gutter_md; background-color:#f5f5f5; border-top:0.09766vw solid $border_light; /*border-bottom:0.09766vw solid $border_light; */display:none;
                & > li{
                  padding:$gutter_md 4.88281vw; margin-bottom:$gutter_xs; background-color:#fff; border:0.09766vw solid $border;
                    &:last-child{
                      margin-bottom:0;
                    }
                    & .tag_list > li > a{
                        padding-top:$gutter_xs; padding-bottom:$gutter_xs;
                    }
                }
            }
        }
      }
    }
  }
  .list_ft {
  }
}
.filter_list {
    margin:2.92969vw 0;
    @at-root .pop_sub_title + .filter_list{margin-top:6.83594vw; margin-bottom:1.56250vw;}
    & > li {
        display: inline-block;
        margin: 0 0.48828vw;
        &:first-child { margin-left: 0; }
        & > a {
        padding: 2.14844vw 5.27344vw;
        border-radius: 9.76563vw;
        font-size: 3.90625vw;
        font-weight: 600;
        color:#999;
        display: block;
        background-color:#e3e3e3;            
        }
        &.active > a{ background-color: $color_black; color: $color_white; }
    }
}
/* ------------------------------------------------------- COMMON > BUTTON ------------------------------------------------------- */
.btn {
  background-color: transparent;
  border: 0.09766vw solid transparent;
    &.btn_primary{color:$color_white;}
    &.btn_primary01{background-color: $color_primary; border-color: $color_primary;}
    &.btn_tertiary{color:$font_gray; background-color: $color_tertiary; border-color: $color_tertiary;}
}
.a_btn {
  background-color: transparent;
  border: 0.09766vw solid transparent;
  font-size: 3.51563vw;
  font-weight: 600;
  padding: 2.92969vw 6.83594vw;
  border-radius: $radius;
  &.a_btn_white{color:$font_darkgray; background-color:$color_white; border-color:$border;}
  &.a_btn_gray{color:$color_white; background-color:$color_darkgray; border-color:$color_darkgray;}
  &.a_btn_sky_line{color:$color_sky; background-color:$color_white; border-color:$color_sky;}
  &.a_btn_red{color:$color_white; background-color:$color_red; border-color:$color_red;}
  &.a_btn_pink{color:$color_white; background-color:$color_pink; border-color:$color_pink;}
  &.a_btn_sky{color:$color_white; background-color:$color_sky; border-color:$color_sky;}
}
.btn_icon {
    font-size:0;
    background-color: transparent;
    border: none;
}
/* ------------------------------------------------------- COMMON > SEARCH ------------------------------------------------------- */
.search_form_wrap {
  margin: 5.27344vw 0 7.22656vw; //54px 0 74px 기준으로 우선 잡고 나중에 공통 찾기 
  .search_form {
    display: flex; 
    border-bottom: 0.58594vw solid #222;
    margin: 0 8.78906vw;
    input::-webkit-input-placeholder, input::-moz-input-placeholder, input::-o-input-placeholder, input::-ms-input-placeholder { color: #999; opacity: 1; }
    input {
      width: calc(100% - 8.20313vw);
      font-size: 3.90625vw;
    }
    .btn {
      width: 8.20313vw;
      height: 8.20313vw;
      display: inline-block;
      padding: $gutter_xs
    }
  }
  .desc { }
}
/* ------------------------------------------------------- TOPIC ------------------------------------------------------- */
.topic_area {
  .topic_box {
    height: 45.89844vw;
    .topic_count {
      font-size: 3.12500vw;
      line-height: 1.2;
      color: #fff;
      & > span { display: block; }
      & > strong {
        font-size: 5.07813vw; 
        font-weight: 600;
      }
    }
  }
}
.topic_info {
  border: 0.09766vw solid $border;
  border-radius: $radius;
  padding: 2.92969vw $gutter_md;
  margin: $gutter_sm 0;
  li {
    font-size: 3.12500vw;
    line-height: 1.875;
    & > strong {
      width: 26.36719vw;
      display: inline-block;
      &::before {
        content: '';
        display: inline-block; 
        vertical-align: middle; 
        width: 0.78125vw; 
        height: 0.78125vw; 
        margin-right: $gutter_xs; 
        margin-top: -0.39063vw; 
        background-color: #333; 
        border-radius: 50%;
      }
    }
    & > span {
      width: calc(100% - 26.36719vw); 
      font-style: italic;
      color: #555555;
    }
  }
  & + .search_form_wrap { margin-top: 5.27344vw; } //공통미지정
}
.topic_state {
  text-align: right;
  margin: $gutter_sm 0;
  * { font-size: 3.12500vw; }
  & > strong {
    color: #999;
    margin-right: $gutter_xs;
    line-height: 6.64063vw;
    &.active { color: $color_primary; }
  }
  & > button {
    width: 10.93750vw;
    height: 6.64063vw;
    color: #fff;
    font-weight: 500;
    background-color: #999;
    border-radius: 6.64063vw;
    &.active { background-color: $color_primary; }
  }
}
/* ------------------------------------------------------- COMMON > PAGING ------------------------------------------------------- */
.paging {
  @include flex;
  justify-content: center;
  padding: 5.85938vw 0 19.53125vw;
	& > li {
		margin: 0 $gutter_xs;
		& > a {
			display: block;
			width: 8.88672vw;
			height: 8.88672vw;
			line-height: 8.88672vw;
			font-size: 4.29688vw;
			color: #999;
			background-color: #fff;
			border: 0.09766vw solid #d4d4d4;
			text-align: center;
		}
    &.active {
      & > a {
        color: #fff;
        background-color: #646464;
        border-color: #646464;
      }
    }
	}
}
/* ------------------------------------------------------- COMMON > TAB ------------------------------------------------------- */
.tab_wrap {
  @at-root .cont_hd + .tab_wrap { margin-top: 7.81250vw; }
  & > .nav {
    @include flex;
    justify-content: space-around;
    align-items: center;
    & > li {
      height: 9.76563vw;
      line-height: 9.76563vw;
      text-align: center;
      overflow: hidden;
      @at-root .nav_03 li { width: 33.33333%; }
      a { 
        display: block;
        font-family: $sub_font_family;
        font-size: 3.90625vw;
        font-weight: 300;
        color: rgba(51, 51, 51, .5);
        background-color: #e3e3e3;
        span { color: rgba(51, 51, 51, .8); }

        &.active {
          background-color: $color_primary; 
          color: rgba(255, 255, 255, .8); 
          span { color: rgba(255, 255, 255, 1);  font-weight: 400; }
        }
      }
      &:first-child { border-top-left-radius: $radius; border-bottom-left-radius: $radius; }
      &:last-child { border-top-right-radius: $radius; border-bottom-right-radius: $radius; }
    }
  }
  & > .tab-content {
    padding: $gutter_sm 0;
    .total { padding: $gutter_md 0; }
  }
}
/* ------------------------------------------------------- Reactive_box_wrap ------------------------------------------------------- */
.reactive_box_wrap {
  @include flex;
  flex-wrap: wrap;
  & > div {
    flex: 0 0 33.3333%;
    height: 18.84766vw;
    padding: $gutter_md 2.92969vw;
    &.voca { background-color: $color_voca; }
    &.subject { background-color: $color_subject; }
    &.nonsubject { background-color: $color_nonsubject; }
    &.business { background-color: $color_business; }
    &.license { background-color: $color_license; }
    &.research { background-color: $color_research; }
    &.recruit { background-color: $color_recruit; }
  }
  * { font-size: 3.12500vw; color: #fff; }
  p { text-align: right; margin-top: 0.48828vw; }
  strong { font-size: 4.68750vw; }
  &.only {
    & > div { flex: 0 0 100%; }
  }
  &.even {
    & > div { flex: 0 0 50%; }
  }
}
/* ------------------------------------------------------- Ranking ------------------------------------------------------- */
.ranking {
  padding: $gutter_md 0 19.53125vw;
  li {
    border-bottom: 0.09766vw solid $border;
    &:first-child { border-top: 0.09766vw solid $border; } 
    a {
      display: block;
      padding: $gutter_md 0;
      span {
        font-family: $sub_font_family;
        vertical-align: middle;
        font-style: oblique;
        color: #333;
        &.num {
          width: 4.88281vw;
          margin-right: $gutter_md;
          text-align: right;
          color: #999;
          display: inline-block;
        }
      }
    }
  }
}
//_popup.scss 에서 이동 공통으로 사용
.tag_btn_list {
  margin-top:3.41797vw;
  margin-bottom:0;
  & > li {
      display: inline-block;
      margin: 0 0.48828vw;
      & > a {
          display: block;
          padding: 2.34375vw 2.92969vw;
          border: 0.09766vw solid $border;
          border-radius: 1.95313vw;
          font-size: 3.51563vw;
          font-weight: 600;
          background-color: #eee;
      }
  }
}