@charset "utf-8";

@import "fonts", "var", "reset", "popup", "accordion";

/* ------------------------------------------------------- COMMON > ICONS ------------------------------------------------------- */
.ic {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url(../images/icons_m.png) no-repeat 0 0 / 97.65625vw auto;
  text-indent: -1000vw;
  &.alert { background-position: -13.99vw 0; }
  &.logout { background-position: -19.53125vw 0; }
  &.selectbox { background-position: -17.57813vw -24.02344vw; }
  &.search { background-position: -26.36719vw -23.92578vw; }
  &.pagination_prev { background-position: 0 -24.02344vw; }
  &.pagination_next { background-position: -8.78906vw -24.02344vw; }
  &.ic_pop_close {width: $gutter_md; height: $gutter_md; background-position: 0 -32.81250vw;}
  &.ic_info{width:5.66406vw; height:5.66406vw; margin-right:1.46484vw; background-position:-25.19531vw 0;}
  &.major { background-position: -26.66016vw -40.62500vw; }
  &.major_lg { background-position: -20.21484vw -40.62500vw; } 
  &.toggle_open { background-position: -37.50000vw -24.02344vw; }
  &.toggle_close { background-position: -42.87109vw -24.02344vw; }
  &.arrow_shortcut { background-position: -3.90625vw -32.81250vw; }
  &.arrow_shortcut_white { background-position: -3.90625vw -36.71875vw; }
  &.circle_delete { background-position: -66.50391vw -18.55469vw; }
  &.circle_add { background-position: -57.71484vw -18.55469vw; }
  &.like { background-position: -27.24609vw -32.81250vw; }
  &.unlike { background-position: -23.43750vw -32.81250vw; }
  &.circle_delete {border-radius:50%;}
  &.ic_push{background-position:0 -40.62500vw;}
  &.ic_inquiry{background-position:-5.07813vw -40.62500vw;}
  &.ic_help{background-position:-10.15625vw -40.62500vw;}
  &.ic_version{background-position:-15.23438vw -40.62500vw;}
  &.ic_scrap { background-position: -36.52344vw -32.81250vw; }
  &.ic_top{background-position:-70.89844vw -5.85938vw; }
  &.circle_delete {border-radius:50%;}
  &.ic_push{background-position:0 -40.62500vw;}
  &.ic_inquiry{background-position:-5.07813vw -40.62500vw;}
  &.ic_help{background-position:-10.15625vw -40.62500vw;}
  &.ic_version{background-position:-15.23438vw -40.62500vw;}
}
.ic_before{
  position:relative;
    &:before{
      content:""; display:inline-block; vertical-align:middle; background-image:url(../images/icons_m.png); background-repeat: no-repeat; background-position:0 0; background-size:97.65625vw auto;        
      @at-root .ic_info_lg:before{width:10.74219vw; height:10.74219vw; background-position:-57.71484vw -5.66406vw;}
    }       
}
.ic_after{
  position:relative;
    &:after{
      content:""; display:inline-block; vertical-align:middle; background-image:url(../images/icons_m.png); background-repeat: no-repeat; background-position:0 0; background-size:97.65625vw auto;

      @at-root .ic_toggle:after{width:$gutter_md; height:$gutter_md; background-position:-11.71875vw -32.81250vw; margin-left:$gutter_sm;}
      @at-root .ic_toggle.active:after{background-position:-11.71875vw -36.71875vw;}
    }
}
.icon_chk_wrap {
  position: relative;
  .icon_chk {
    position: absolute; width: 0.09766vw; height: 0.09766vw; padding: 0; margin: -0.09766vw; overflow: hidden; clip:rect(0,0,0,0); border: 0;
    &.icon_notxt + label{font-size: 0;}
    &.icon_chk + label{display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-weight:normal; margin-bottom:0;}
    &.icon_chk + label:before{content: ''; display: inline-block; text-align: center; vertical-align: middle; background-image:url(../images/icons_m.png); background-size: 97.65625vw auto; background-repeat:no-repeat;}
    &.icon_chk_use + label:before{width:11.91406vw; height:6.44531vw; background-position: -45.89844vw -5.66406vw;}
    &.icon_chk_use:checked + label:before{background-position:-45.89844vw -12.10938vw;}
  }
}
/* ------------------------------------------------------- COMMON > LAYOUT ------------------------------------------------------- */
.header {
  @include flex;
  width: 100vw;
  height: $header_height;
  justify-content: space-between;
  align-items: center;
  padding: 0 $gutter_md;
  border-bottom: 0.09766vw solid $border;
  z-index: 999;
  h1.logo {
    width: 13.86719vw;
    height: 5.66406vw;
    display: inline-block;
  }
  .location {
    & > a {
      width: 5.66406vw;
      height: 5.66406vw;
      display: inline-block;
      & > .alert{padding:0; margin-bottom:0; border:none;}
    }
  }
}
.container-wrap {
  @include flex;
  width: 100vw;
  height: calc(100vh - #{$header_height} - #{$footer_height});
  position: relative;
  z-index: 998;
  .container {
    max-width: unset !important;
    padding: 0 !important;
    margin: 0 !important;
    & > .nav_select_swiper {
      width: 100vw; 
      height: $nav_height;
      border-bottom: 0.09766vw solid $border;
      padding: 0 $gutter_md;
      z-index: 997;
      .sub_menu {
        width: 123.63281vw;
        & > li {
          display: inline-block;
          position: relative;
          flex-shrink: 1;
          a {
            max-width: 19.14063vw !important;
            display: inline-block; 
            color: $font_lightgray;
            font-size: 3.90625vw;
            font-weight: 400;
            line-height: $nav_height;
            padding: 0 2.44141vw;
          }
          &.active {
            a {
              color: $font_black;
              font-weight: 600;
              &::before {
                content: '';
                width: 1.56250vw;
                height: 1.56250vw;
                display: inline-block;
                border-radius: 50%;
                background-color: $color_primary;
                position: absolute; top: 50%; left: 0;
                margin-top: -0.78125vw;
              }
            }
          }
        }
        &.sub_type02{
            width:auto;
            & > li{width:17.57813vw;}
        }
      }
    }
    & > .contents {
      width: 100vw;
      height: calc(100vh - #{$header_height} - #{$footer_height} - #{$nav_height});
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #fff;
      padding: 0 $gutter_md;
      &.contents01{
            padding:0;
            & .cont_hd {
                padding:0 $gutter_md;
                & > .tit{
                    margin-top:7.32422vw; margin-bottom:5.37109vw;
                }
            }
                
        }
    }
  }
}
.footer {
  @include shadow_gnb;
  width: 100vw; 
  height: $footer_height;
  position: relative;
  text-align: center;
  z-index: 999;
  & > .footer_nav {
    width: calc(100vw - #{$gutter_md}*2);
    height: 100%;
    margin: 0 auto;
    .main_menu {
      @include flex;
      height: 100%;      
      li {
        width: 20%;
        height: 100%;
        flex-shrink: 0;
        a {
          height: 100%;
          display: block;
          padding-top: 13.08594vw;
          font-size: 3.12500vw;
          font-weight: 600;
          color: $font_gray;
          position: relative;
          &::before {
            content: '';
            width: 9.17969vw;
            height: 9.17969vw;
            display: inline-block;
            position: absolute; top: $gutter_sm; left: calc(50% - 9.17969vw/2); 
            background: url(../images/icons_m.png) no-repeat 0 -5.76172vw / 97.65625vw auto;
            @at-root .my_desk a::before { background-position-x: 0 !important; }
            @at-root .department_lounge a::before { background-position-x: -9.17969vw !important; }
            @at-root .subject a::before { background-position-x: -18.35938vw !important; }
            @at-root .recruit a::before { background-position-x: -27.53906vw !important; }
            @at-root .chatbot a::before { background-position-x: -36.71875vw !important; }
          }
        }
        &.active {
          a {
            color: $color_primary;
            &::before { background-position-y: -14.94141vw !important; }
          }
        }
      }
    }
  }
}

/* ------------------------------------------------------- COMMON > FONTS ------------------------------------------------------- */
.tit {
  color: #333;
  font-size: 3.90625vw;
  font-weight: 500;
  line-height: 1.25;
  .tit_lg { font-size: 4.29688vw !important; }
  @at-root .cont_hd > .tit { 
    font-weight: 400;
    line-height: 1.5; 
    margin: $gutter_md 0 $gutter_sm; 
    & + button { margin-top: $gutter_sm; }
  }
  @at-root .list_hd .tit {
    font-family: $sub_font_family;
    font-size: 5.07813vw;
    font-weight: 400;
    color: #000;
  }
}
.desc {
  color: #555;  
  line-height: 1.8;
  font-size: 2.73438vw;
  @at-root .list .desc { 
    line-height: 1.78;
  }
  @at-root .list_hd .desc, .total {
    font-family: $sub_font_family;
    font-size: 3.51563vw;
    color: #000;
    font-weight: 400;
  }
}
.text_blue { color: $color_primary !important; }
.text_red{color:$color_red !important;}
.text_lightgray{color:$font_gray !important;}
.text_darkgray { color: $font_darkgray !important; }
.bg_gray { background-color: #f5f5f5; }
/* ------------------------------------------------------- COMMON > FORM 관련 ------------------------------------------------------- */
.btn {
  background-color: transparent;
  border: 0.09766vw solid transparent;
    &.btn_primary{ color: $color_white; }
    &.btn_primary01 { background-color: $color_primary; border-color: $color_primary; }
    &.btn_tertiary { color: $font_gray; background-color: $color_tertiary; border-color: $color_tertiary; }
    &.btn_select {
      width: 9.76563vw;
      height: 9.76563vw;
      padding: 0.48828vw;
      display: inline-block;
      border: 0.09766vw solid $border;
      border-radius: $radius_xs;
    }
    &.btn_tertiary{
        background-color:#eee; border-color:$border; color:#333;
        &.btn_tertiary01{background-color:$color_white; border-color:#333; color:#333;}
        &.btn_tertiary02{background-color:$color_white; border-color:$color_red; color:$color_red;}
    }
    &.btn_primary01{border-color:$border;}
}
.btn_delete {
  width: 8.78906vw;
  height: 8.78906vw;
  display: inline-block;
}
.a_btn {
  background-color: transparent;
  border: 0.09766vw solid transparent;
  font-size: 3.51563vw;
  font-weight: 600;
  padding: 2.92969vw 6.83594vw;
  border-radius: $radius;
  span, i { vertical-align: middle; }
  &.a_btn_white{color:$font_darkgray; background-color:$color_white; border-color:$border;}
  &.a_btn_gray{color:$color_white; background-color:$color_darkgray; border-color:$color_darkgray;}
  &.a_btn_sky_line{color:$color_sky; background-color:$color_white; border-color:$color_sky;}
  &.a_btn_red{color:$color_white; background-color:$color_red; border-color:$color_red;}
  &.a_btn_pink{color:$color_white; background-color:$color_pink; border-color:$color_pink;}
  &.a_btn_sky{color:$color_white; background-color:$color_sky; border-color:$color_sky;}
}
.btn_icon {
    font-size:0;
    background-color: transparent;
    border: none;
}
select.form-control {
  width: 25.39063vw;
  height: 9.76563vw;
  font-size: 3.51563vw;
  color: $font_black;
  padding: 2.34375vw 7.81250vw 2.34375vw 2.92969vw;
  background-image: url(../images/select.png);
  background-repeat: no-repeat;
  background-position: right 2.73438vw center;
  background-size: 2.14844vw 1.36719vw;
  background-color: #fff;
  border: 0.09766vw solid $border;
  border-radius: $radius_xs;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  &::-ms-expand { display: none; }
}
.control_wrap {
  @include flex;
  align-items: center;
  .sel_area + .btn, .sel_area + .filter_wrap { margin-left: $gutter_xs; }
  &.only { 
    width: 100%;
    justify-content: flex-end; 
    margin: $gutter_sm 0;
  }
}
.label_round {
  width: 16.50391vw;
  height: 6.34766vw;
  display: inline-block;
  line-height: 6.34766vw;
  text-align: center;
  font-size: 3.22266vw;
  font-weight: 600;
  color: #555;
  border: 0.09766vw solid #555;
  border-radius: 6.34766vw;
  background-color: #fff;
  & + .desc { margin-left: 2.34375vw; }
}
.btn_like_list {
  padding: 0 $gutter_md;
  .tit { margin: $gutter_sm 0 $gutter_xs; }
}
.btn_like {
  @include flex;
  min-width: 15.62500vw;
  height: 6.34766vw;
  justify-content: center;
  align-items: center;
  border: 0.09766vw solid #d5d5d5;
  border-radius: 6.34766vw;
  background-color: #fff;
  .ic { width: 3.80859vw; height: 3.80859vw; }
  .num { font-size: 3.41797vw; color: #333; margin-left: $gutter_xs; }
}
/* ------------------------------------------------------- COMMON > CLASS > .inline_wrap ------------------------------------------------------- */
.inline_wrap {
  @include flex;
	align-items: center;
	justify-content: space-between;
  .form-group { flex-grow: 1; }
	button { 
		flex: 0 0 auto;
		margin-left: .75rem;
  }
  &.justify_start { justify-content: start; }	
  &.align_top { align-items: flex-start; }
  &.topic_btn_wrap {
    padding: $gutter_md;
    margin: 0 $gutter_md !important;
    border-top: 0.09766vw solid $border;
    .topic_btn {
      padding: 0 !important;
      border: none !important;
    }
    & + .topic_list_wrap {
      margin: 0 $gutter_md;
      border: 0.09766vw solid #d1d1d1;
      //border-top-width: 0.19531vw;
      border-top:none;
    }
  }
}
/* ------------------------------------------------------- COMMON > CLASS > .list_view ------------------------------------------------------- */
//리스트 기본디자인
.list_view {
  @include flex;
  flex-direction: column;   
  .list_hd {
    @include flex; 
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.19531vw solid $border_light;
    padding: 1.17188vw 0;
    & > div {      
      * { display: inline-block; }
      .filter_pop_list { display: none; }
      .tit{ margin-right: 1.56250vw; }
    } 
  }
  .list_cont {
    .list {
      & > li {
        padding: $gutter_md 0;
        border-bottom: 0.09766vw solid $border;
        &:last-child { border-bottom: 0.19531vw solid $border_light; }
        & > div { 
          margin-bottom: $gutter_sm; 
          &:last-child { margin-bottom: 0; }
        }
      }
      .tag_list {
        & > li {
          display: inline-block;
          margin: 0 0.48828vw;
          &:first-child { margin-left: 0; }
          & > a {
            padding: 1.46484vw $gutter_md;
            border: 0.09766vw solid $border;
            border-radius: 6.34766vw;
            font-size: 3.12500vw;
            font-weight: 600;
            display: block;
            &.subject { border-color: $color_subject; color: $color_subject; }
            &.nonsubject { border-color: $color_nonsubject; color: $color_nonsubject; }
            &.recruit { border-color: $color_recruit; color: $color_recruit; }
          }
        }
        & + .desc { margin-left: 2.44141vw; }
      }
    }
    &.list_cont_box { 
      .list {
        & > li {
          padding: 0;
          margin-bottom: 5.37109vw;
          &:last-child { margin-bottom: 0; }
          & .tit_info {           
            margin-top: 0;
            @at-root .topic_box .tit_info {
              font-size: 3.51563vw;
              color: #888;
              padding: 0 $gutter_xs $gutter_md $gutter_xs;
            }
            & + .tag_btn_list {
              margin-top: 0;
              margin-bottom: $gutter_md;
            }
          }
          .topic_box {
            padding: 0 $gutter_sm;
            margin-bottom: 0;
            & > .inline_wrap { padding: 5.85938vw $gutter_xs 0 $gutter_xs; }
          }
          .topic_btn {
            padding: $gutter_md $gutter_xs 4.39453vw $gutter_xs;
            border-top: 0.09766vw solid $border;
            & strong {
              display: inline-block;
              font-size: 3.90625vw;
              padding-bottom: 0.48828vw;
              border-bottom: 0.29297vw solid $color_primary;
            }
          }
          .topic_list {
            padding: 4.88281vw $gutter_md;
            background-color: #f5f5f5;
            /*border-top: 0.09766vw solid $border_light;*/
            display: none;
            & > li {
              padding: $gutter_md 4.88281vw;
              margin-bottom: $gutter_xs;
              background-color: #fff;
              border: 0.09766vw solid $border;
              &:last-child { margin-bottom: 0; }
              & .tag_list > li > a {
                padding-top: $gutter_xs;
                padding-bottom: $gutter_xs;
              }
            }
            .topic_list {
              display: block !important;
              padding: 0 !important;
              border: 0 !important;
            }
          }
        }
      }
    }
  }
}
//리스트 디자인 하단분리형
.list_view.list_view_type01 {
  .list_hd { border-bottom: transparent; }
  .list {
    & > li { 
      border: 0.09766vw solid $border !important;
      padding: 0.09766vw !important;
      margin: $gutter_sm 0 !important;
      &:first-child { margin-top: 0 !important; }
      .topic_box { 
        padding: $gutter_md 0 !important;
        & > .tit_info { padding: 0 $gutter_md !important; }
        & > a { display: block; padding: 0 $gutter_md; } 
        .date { font-size: 3.51563vw; color: #333; }
        .tit { margin: $gutter_sm 0 $gutter_xs; }
        .desc { font-size: 3.51563vw; color: #888; }        
        .btn_delete { margin: -0.97656vw -0.97656vw 0 0; }
        .inline_wrap { padding: 0 $gutter_md !important; }
        .tag_btn_list { padding: $gutter_md $gutter_md 0; margin: 0 -0.48828vw; }
      }
      .topic_box + .topic_btn_wrap:not(.topic_btn_wrap01) { margin: 0 !important; }
      .topic_ft { 
        @include flex;
        align-items: center;
        padding: $gutter_sm $gutter_md;
        background-color: #fff;
        &.bg_gray { background-color: #f5f5f5; }
        .desc { font-size: 3.51563vw; color: #555; }
      }
    }
  }
  .pag_info_none {
    min-height: calc(100vh - #{$header_height} - #{$footer_height} - #{$nav_height});
    // 추가로 상단 높이를 빼야하는데 상단에 '.filter_list' 높이가 유동적이라 계산식이 안됨.
    // 협의 후 최소 높잉를 지정 필요.    
    background-color: #fafafa;
    border: 0.09766vw solid $border;
  }
}
//리스트 디자인 중 토픽 삭제 버튼 리스트
.list_view, .list_view_type01 {
  .list_cont, .list_cont_box {
    .list_modify { 
      & > li {
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        border-bottom: 0.09766vw solid $border !important;
        background-color: #fff;
        &:first-child { border-top: 0.19531vw solid $border !important; }
        .inline_wrap {
          min-height: 11.71875vw;
          padding: $gutter_sm 2.44141vw !important;
        }
      }
    }
  }
}
.list_modify { 
  & > li {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-bottom: 0.09766vw solid $border !important;
    background-color: #fff;
    &:first-child { border-top: 0.19531vw solid $border !important; }
    .inline_wrap {
      min-height: 11.71875vw;
      padding: $gutter_sm 2.44141vw !important;
    }
  }
  .a_btn_white {
    width: 100%;
    font-size: 3.90625vw;
    border-radius: 0;
    margin-top: 5.85938vw;
  }
}
//리스트 내 공통 전체보기 버튼
.list_view {
  .list + .a_btn_white,
  .a_btn_white {
    width: 100%;
    font-size: 3.90625vw;
    border-radius: 0;
    margin-top: 5.85938vw;
  }
}
//리스트 스크랩버튼 하단 배치
.list_scrap {
  padding: $gutter_md;
  & > a {
    display: block;
    .tit { margin-bottom: $gutter_sm; }
  }
  & > .btn_like { margin: 2.92969vw 0 $gutter_md 0; }
  & > .btn_scrap_wrap {
    border-top: 0.09766vw solid $border;
    margin: 0 -#{$gutter_md} -#{$gutter_sm};
    padding: $gutter_sm $gutter_sm 0;
    & > .btn_scrap {
      @include flex;
      justify-content: center;
      align-items: center;
      padding: $gutter_sm; //눌렀을 때 모양때문에 추가
      & > .ic { width: 5.46875vw; height: 5.46875vw; margin-top: -#{$gutter_xs}; }
      & > span { font-size: 3.90625vw; font-weight: 600; margin-left: $gutter_sm; }
    }
  }
}
/* ------------------------------------------------------- COMMON > CLASS > .pag_info_none ------------------------------------------------------- */
.pag_info_none {
  @include flex;
  justify-content: center;
  align-items: center;
  & > span {
    display:block; line-height:6.25000vw; font-family: $sub_font_family; font-weight: 300; font-size:4.29688vw; color:#999; padding-top:15.62500vw; text-align:center;
    &:before { position:absolute; top:0; left:50%; margin-left:-5.37109vw; }
  }
}
/* ------------------------------------------------------- COMMON > CLASS > .filter_list ------------------------------------------------------- */
.filter_list {
  margin: 2.92969vw -0.48828vw;
  @at-root .pop_sub_title + .filter_list{margin-top:6.83594vw; margin-bottom:1.56250vw;}
  & > li {
      display: inline-block;
      margin: $gutter_xs 0.48828vw;
      & > a {
      padding: 2.14844vw 5.27344vw;
      border-radius: 9.76563vw;
      font-size: 3.90625vw;
      font-weight: 600;
      color:#999;
      display: block;
      background-color:#e3e3e3;            
      }
      &.active > a { background-color: $color_black; color: $color_white; }
  }
  &.with_bg {
    background-color: #fafafa;
    padding: $gutter_sm $gutter_md;
    margin: $gutter_md -#{$gutter_md};
  }
  & + .search_form { margin-bottom: 0; }
}
/* ------------------------------------------------------- COMMON > SEARCH ------------------------------------------------------- */
.search_form_wrap {
  margin: 5.27344vw 0 7.22656vw; 
  .search_form {
    display: flex; 
    border-bottom: 0.58594vw solid #222;
    margin: 0 8.78906vw;
    input::-webkit-input-placeholder, input::-moz-input-placeholder, input::-o-input-placeholder, input::-ms-input-placeholder { color: #999; opacity: 1; }
    input {
      width: calc(100% - 8.20313vw);
      font-size: 3.90625vw;
    }
    .btn {
      width: 8.20313vw;
      height: 8.20313vw;
      display: inline-block;
      padding: $gutter_xs
    }
    & + .desc { margin-top: $gutter_xs; }
  }
  .desc { }
}
/* ------------------------------------------------------- COMMON > TOPIC ------------------------------------------------------- */
.topic_area {
  .topic_box {
    height: 45.89844vw;
    .topic_count {
      font-size: 3.12500vw;
      line-height: 1.2;
      color: #fff;
      & > span { display: block; }
      & > strong {
        font-size: 5.07813vw; 
        font-weight: 600;
      }
    }
  }
}
.topic_info {
  border: 0.09766vw solid $border;
  border-radius: $radius;
  padding: 2.92969vw $gutter_md;
  margin: $gutter_sm 0;
  li {
    font-size: 3.12500vw;
    line-height: 1.875;
    & > strong {
      width: 26.36719vw;
      display: inline-block;
      &::before {
        content: '';
        display: inline-block; 
        vertical-align: middle; 
        width: 0.78125vw; 
        height: 0.78125vw; 
        margin-right: $gutter_xs; 
        margin-top: -0.39063vw; 
        background-color: #333; 
        border-radius: 50%;
      }
    }
    & > span {
      width: calc(100% - 26.36719vw); 
      font-style: italic;
      color: #555555;
    }
  }
  & + .search_form_wrap { margin-top: 5.27344vw; }
}
.topic_state {
  text-align: right;
  margin: $gutter_sm 0;
  * { font-size: 3.12500vw; }
  & > strong {
    color: #999;
    margin-right: $gutter_xs;
    line-height: 6.64063vw;
    &.active { color: $color_primary; }
  }
  & > button {
    width: 10.93750vw;
    height: 6.64063vw;
    color: #fff;
    font-weight: 500;
    background-color: #999;
    border-radius: 6.64063vw;
    &.active { background-color: $color_primary; }
  }
}
/* ------------------------------------------------------- COMMON > PAGING ------------------------------------------------------- */
.paging {
  @include flex;
  justify-content: center;
  padding: 5.85938vw 0 19.53125vw;
	& > li {
		margin: 0 $gutter_xs;
		& > a {
			display: block;
			width: 8.88672vw;
			height: 8.88672vw;
			line-height: 8.88672vw;
			font-size: 4.29688vw;
			color: #999;
			background-color: #fff;
			border: 0.09766vw solid #d4d4d4;
			text-align: center;
		}
    &.active {
      & > a {
        color: #fff;
        background-color: #646464;
        border-color: #646464;
      }
    }
	}
}
/* ------------------------------------------------------- COMMON > TAB ------------------------------------------------------- */
//COMMON > TAB > 파란색 라운드 디자인
.tab_wrap {
  @at-root .cont_hd + .tab_wrap { margin-top: 7.81250vw; }
  @at-root .pop_sub_title + .tab_wrap { margin-top: 7.81250vw; }
  & > .nav {
    @include flex;
    justify-content: space-around;
    align-items: center;
    & > li {
      height: 9.76563vw;
      line-height: 9.76563vw;
      text-align: center;
      overflow: hidden;
      flex-grow: 1;
      @at-root .nav_03 li { width: 33.33333%; }
      a { 
        display: block;
        font-family: $sub_font_family;
        font-size: $font_size;
        font-weight: 300;
        color: rgba(51, 51, 51, .5);
        background-color: #e3e3e3;
        //padding: 0 4.39453vw;
        span { color: rgba(51, 51, 51, .8); }
        &.active {
          background-color: $color_primary; 
          color: rgba(255, 255, 255, .8); 
          span { color: rgba(255, 255, 255, 1);  font-weight: 400; }
        }
      }
      &:first-child { border-top-left-radius: $radius; border-bottom-left-radius: $radius; }
      &:last-child { border-top-right-radius: $radius; border-bottom-right-radius: $radius; }
    }
  }
  & > .tab-content {
    padding: $gutter_sm 0;
    .total { padding: $gutter_md 0; }

    & .tab_hd{
        padding-top:6.83594vw;
        > h3{
            font-family:$sub_font_family; font-size:4.68750vw; margin-bottom:$gutter_md; padding-left:$gutter_md; position:relative;
            &:before{content: ''; width: 1.56250vw; height: 1.56250vw; display: inline-block; background-color: #333; position: absolute; top: 50%; left: 0; margin-top: -0.78125vw;}
            > strong{font-weight:500;}
        }
        > .tab_info{font-size:$font_size; padding-left:4.88281vw;}
    }
  }
}
//COMMON > TAB > 흰색 보더 디자인
.tab_wrap.tab_type01 {
  & > .nav {
    position: relative;
    & > li {
      overflow: visible;
      a {
        background: #f2f2f2;
        border: 0.09766vw solid transparent;
        border-top: 0.58594vw solid #f2f2f2;
        border-bottom: 0.09766vw solid $border;
        &.active { 
          color: $color_primary;
          background-color: #fff;
          border: 0.09766vw solid $border;
          border-top: 0.58594vw solid $color_primary;
          border-bottom: 0.09766vw solid #fff;
        }
      }
      &:first-child,
      &:last-child { border-radius: 0; }
    }
    &::before, &::after {
      content: '';
      width: $gutter_md;
      height: 0.09766vw;
      display: inline-block;
      background: $border;
      position: absolute; bottom: -0.68359vw; left: -#{$gutter_md};
    }
    &::after { left: unset; right: -#{$gutter_md}; }
  }
}
/* ------------------------------------------------------- Reactive_box_wrap ------------------------------------------------------- */
.reactive_box_wrap {
  @include flex;
  flex-wrap: wrap;
  & > div {
    flex: 0 0 33.3333%;
    height: 18.84766vw;
    padding: $gutter_md 2.92969vw;
    &.research {background-color:$color_research;}
    &.voca { background-color: $color_voca; }
    &.subject { background-color: $color_subject; }
    &.nonsubject { background-color: $color_nonsubject; }
    &.business { background-color: $color_business; }
    &.license { background-color: $color_license; }
    &.research { background-color: $color_research; }
    &.recruit { background-color: $color_recruit; }
  }
  * { font-size: 3.12500vw; color: #fff; }
  p { text-align: right; margin-top: 0.48828vw; }
  strong { font-size: 4.68750vw; }
  &.only {
    & > div { flex: 0 0 100%; }
  }
  &.even {
    & > div { flex: 0 0 50%; }
  }
}
/* ------------------------------------------------------- Ranking ------------------------------------------------------- */
.ranking {
  padding: $gutter_md 0 19.53125vw;
  li {
    border-bottom: 0.09766vw solid $border;
    &:first-child { border-top: 0.09766vw solid $border; } 
    a {
      display: block;
      padding: $gutter_md 0;
      span {
        font-family: $sub_font_family;
        vertical-align: middle;
        font-style: oblique;
        color: #333;
        &.num {
          width: 4.88281vw;
          margin-right: $gutter_md;
          text-align: right;
          color: #999;
          display: inline-block;
        }
      }
    }
  }
}
/* ------------------------------------------------------- tag_btn_list ------------------------------------------------------- */
.tag_btn_list {
  font-size:0;
  margin-top: 3.41797vw;
  margin-bottom: 0;
  & > li {
      display: inline-block;
      margin: 0 0.48828vw;
      & > a {
          display: block;
          padding: 2.34375vw 2.63672vw;
          border: 0.09766vw solid $border;
          border-radius: 1.95313vw;
          font-size: 3.51563vw;
          font-weight: 600;
          background-color: #eee;
      }
  }
}
/* ------------------------------------------------------- filter_wrap 디자인 임의로 넣었음 ------------------------------------------------------- */
.filter_wrap { 
  position: relative; 
  .filter_pop_list { 
    display: none; 
    @include shadow_filter_pop_list;
    font-size: $font_size;
    background-color: #fff; 
    border: 0.09766vw solid #d4d4d4; 
    border-radius: $radius_xs; 
    position: absolute; right: 0; top: 10.74219vw; z-index: 9; // 110px
    min-width: 30vw;
    & > strong { 
      display: block;
      text-align: center;
      color: #555; 
      font-size: $font_size;
      font-weight: 500;
      padding: $gutter_xs 0;
      border-bottom: 0.09766vw solid #d4d4d4;
    }
    & > .toggle_filter { 
      display: block; 
      width: 100%;
      height: 9.76563vw; // 100px
      line-height: 9.76563vw; // 100px
      padding: 0 $gutter_md;
      font-size: $font_size;
      color: #333;
      cursor: pointer;
      position: relative;
      &::before {
        content: '';
        width: 3.90625vw;  // 40px
        height: 3.90625vw; // 40px
        display: inline-block;
        background: url(../images/icons_m.png) no-repeat -7.81250vw -32.81250vw / 97.65625vw auto;// -80px -336px
        position: absolute; top: 2.92969vw; right: 2.92969vw; // 30px
      }
      &.active::before { transform: rotate(-180deg); }
    }
  }
}

/* ------------------------------------------------------- top button ------------------------------------------------------- */
.btn_top{
    display:none; width:9.76563vw; height:9.76563vw; position:fixed; right:1.95313vw; bottom:21.48438vw; z-index:999;
}
